Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

refactor(flux): declare k8s-cluster-info per namespace on atlantis (#2247)
  kubernetes/clusters/atlantis-k8s01/apps/actions-runner-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cloudflared/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cnpg-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/democratic-csi/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/it-tools/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/nautobot/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/volsync-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(fairy): add infra-private as a second Flux source
  kubernetes/clusters/fairy-k8s01/apps/flux-system/infra-private-externalsecret.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/infra-private.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(fairy): add infra-private as a second Flux source (#2272)
  kubernetes/clusters/fairy-k8s01/apps/flux-system/infra-private-externalsecret.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/infra-private.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): set flux-operator-mcp transport to http
  kubernetes/apps/flux/mcp/helmrelease.yaml
Due: validate-schema-alignment

fix(flux): set flux-operator-mcp transport to http (#2380)
  kubernetes/apps/flux/mcp/helmrelease.yaml
Due: validate-schema-alignment

fix(external-dns): pin the alpha annotation prefix
  kubernetes/apps/networking/external-dns/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Due: validate-schema-alignment

fix(external-dns): pin the alpha annotation prefix (#2381)
  kubernetes/apps/networking/external-dns/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
Due: validate-schema-alignment

fix(rook-ceph): skip upgrade checks on atlantis to finish the OSD roll
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

fix(rook-ceph): skip upgrade checks on atlantis to finish the OSD roll (#2382)
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

fix(rook-ceph): re-arm the upgrade health gate on atlantis
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

fix(rook-ceph): re-arm the upgrade health gate on atlantis (#2383)
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

feat(rook-ceph): rotate daemon CephX keys and mute the un-clearable warnings
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Due: validate-schema-alignment

feat(rook-ceph): rotate daemon CephX keys and mute the un-clearable warnings (#2384)
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Due: validate-schema-alignment

feat(renovate): track Talos against the Image Factory version list
  .renovate/infraPackages.json5
  .renovaterc.json5
  kubernetes/clusters/atlantis-k8s01/apps/system-upgrade/tuppr-plans.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

feat(renovate): track Talos against the Image Factory version list (#2385)
  .renovate/infraPackages.json5
  .renovaterc.json5
  kubernetes/clusters/atlantis-k8s01/apps/system-upgrade/tuppr-plans.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

feat(atlantis): upgrade Talos to v1.14.0
  kubernetes/clusters/atlantis-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

feat(gpu): manage the NVIDIA DRA driver through the GPU Operator
  kubernetes/apps/devices/dra-driver-nvidia-gpu/helmrelease.yaml
  kubernetes/apps/devices/dra-driver-nvidia-gpu/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/dra-driver-nvidia-gpu.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(gpu): give the operator HelmRelease room and stop rollback retries
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(gpu): give the operator HelmRelease room and stop rollback retries (#2392)
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(ci): tell flate the clusters serve the DRA DeviceClass API
  .github/workflows/image-pull-extract-pull.yaml
Due: none

fix(ci): tell flate the clusters serve the DRA DeviceClass API (#2393)
  .github/workflows/image-pull-extract-pull.yaml
Due: none

feat(gpu): manage the NVIDIA DRA driver through the GPU Operator (#2391)
  kubernetes/apps/devices/dra-driver-nvidia-gpu/helmrelease.yaml
  kubernetes/apps/devices/dra-driver-nvidia-gpu/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/dra-driver-nvidia-gpu.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

Revert "feat(gpu): manage the NVIDIA DRA driver through the GPU Operator"
  kubernetes/apps/devices/dra-driver-nvidia-gpu/helmrelease.yaml
  kubernetes/apps/devices/dra-driver-nvidia-gpu/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/dra-driver-nvidia-gpu.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

Revert "feat(gpu): manage the NVIDIA DRA driver through the GPU Operator" (#2394)
  kubernetes/apps/devices/dra-driver-nvidia-gpu/helmrelease.yaml
  kubernetes/apps/devices/dra-driver-nvidia-gpu/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/dra-driver-nvidia-gpu.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(renovate): use semver-coerced for the Jellyfin image
  .renovaterc.json5
Due: none

fix(renovate): use semver-coerced for the Jellyfin image (#2395)
  .renovaterc.json5
Due: none

chore(iua): harvest → ghcr.io/nicolerenee/harvest:main-20260917T233703Z-7f1d59b
  kubernetes/apps/harvest/deployment.yaml
Due: validate-schema-alignment

chore(iua): harvest → ghcr.io/nicolerenee/harvest:main-20260917T234709Z-7f13bf0
  kubernetes/apps/harvest/deployment.yaml
Due: validate-schema-alignment

feat(fairy): Talos v1.14.1
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

feat(fairy): cn03 replaces compute03 as cn03.fairy.freckle.systems
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

feat(fairy): rename fairy-r02-cn02 to cn02
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

feat(fairy): rename fairy-r02-cn01 to cn01.fairy.freckle.systems
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

feat(fairy): rename the DGX Sparks to dgx01-03.fairy.freckle.systems
  docs/runbooks/firmware-upgrades.md
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(home-automation): point the SolarAssistant MQTT bridge at its new VLAN address
  kubernetes/apps/home-automation/mosquitto/externalsecret.yaml
Due: validate-schema-alignment

chore(home-automation): remove zigbee2mqtt
  kubernetes/apps/home-automation/zigbee/externalsecret.yaml
  kubernetes/apps/home-automation/zigbee/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/zigbee.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(observability): skip NodeMemoryHighUtilization on nodes serving a model
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
Due: validate-schema-alignment

fix(inference): drop vllm:cache_config_info at scrape time
  kubernetes/apps/inference/models/minimax-m27-nvfp4/vmservicescrape.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/vmservicescrape.yaml
Due: validate-schema-alignment

chore(atlantis): silence UplinkPortDown for msw1's unused spine02 uplink
  kubernetes/clusters/atlantis-k8s01/apps/observability/silences/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/silences/msw1-spine02-uplink.yaml
Due: validate-kustomizations, validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
