Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

nautobot: disable superuser bootstrap + bump CPU/ease liveness probe (#2186)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

nautobot: HTTPS security settings (secure cookies, SSL redirect, HSTS)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

nautobot: HTTPS security settings (secure cookies, SSL redirect, HSTS) (#2187)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

nautobot: disable app-level SECURE_SSL_REDIRECT (gateway owns TLS)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

nautobot: disable app-level SECURE_SSL_REDIRECT (gateway owns TLS) (#2189)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

feat(fairy): move VLAN 300 fanout from macvlan to br300 bridge
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

docs(storage): add Ceph RBD benchmarking guide
  docs/storage/ceph-benchmarking.md
  docs/storage/index.md
  zensical.toml
Due: none

feat(inference): add benchmark task for llama-benchy sweeps
  .taskfiles/inference/taskfile.yaml
Due: none

chore(tofu): remove tofu configuration from this repo
  .taskfiles/wif/taskfile.yaml
  Taskfile.yaml
  tofu/.gitignore
  tofu/.terraform.lock.hcl
  tofu/ai-gateway.tf
  tofu/backend.tf
  tofu/bootstrap.tf
  tofu/cloudflare-tokens.tf
  tofu/cloudflare-tunnel.tf
  tofu/cloudflare-zones.tf
  tofu/cluster-endpoints.tf
  tofu/clusters.auto.tfvars.json
  tofu/flux-github-app.tf
  tofu/flux-infra-private.tf
  tofu/freckle-actions-runner.tf
  tofu/ghcr-pull.tf
  tofu/janet-db.tf
  tofu/janet-flux-receiver.tf
  tofu/janet-mcp.tf
  tofu/janet.tf
  tofu/jwks/atlantis-k8s01/.well-known/openid-configuration
  tofu/jwks/atlantis-k8s01/openid/v1/jwks
  tofu/jwks/fairy-k8s01/.well-known/openid-configuration
  tofu/jwks/fairy-k8s01/openid/v1/jwks
  tofu/locals.tf
  tofu/modules/eso-namespace/main.tf
  tofu/modules/eso-namespace/outputs.tf
  tofu/modules/eso-namespace/variables.tf
  tofu/modules/gsm-secret/main.tf
  tofu/modules/gsm-secret/outputs.tf
  tofu/modules/gsm-secret/variables.tf
  tofu/oidc-host.tf
  tofu/pocketid.tf
  tofu/projects.tf
  tofu/providers.tf
  tofu/secrets-bootstrap.tf
  tofu/secrets.tf
  tofu/variables.tf
  tofu/versions.tf
  tofu/wif.tf
Due: none

feat(netflow): deploy akvorado flow collector to den1
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/kustomization.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/apps/networking/netflow/akvorado/service-inlet.yaml
  kubernetes/apps/networking/netflow/clickhouse/configmap.yaml
  kubernetes/apps/networking/netflow/clickhouse/helmrelease.yaml
  kubernetes/apps/networking/netflow/clickhouse/kustomization.yaml
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
  kubernetes/apps/networking/netflow/kafka/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/akvorado.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/clickhouse.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kafka.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/site-public-ips.yaml
  kubernetes/clusters/atlantis-k8s01/flux/netflow.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(envoy-gateway): apply vendored envoy CRDs on atlantis
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/envoy-gateway-crds.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/gateways.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(tofu): remove tofu configuration from this repo (#2210)
  .taskfiles/wif/taskfile.yaml
  Taskfile.yaml
  tofu/.gitignore
  tofu/.terraform.lock.hcl
  tofu/ai-gateway.tf
  tofu/backend.tf
  tofu/bootstrap.tf
  tofu/cloudflare-tokens.tf
  tofu/cloudflare-tunnel.tf
  tofu/cloudflare-zones.tf
  tofu/cluster-endpoints.tf
  tofu/clusters.auto.tfvars.json
  tofu/flux-github-app.tf
  tofu/flux-infra-private.tf
  tofu/freckle-actions-runner.tf
  tofu/ghcr-pull.tf
  tofu/janet-db.tf
  tofu/janet-flux-receiver.tf
  tofu/janet-mcp.tf
  tofu/janet.tf
  tofu/jwks/atlantis-k8s01/.well-known/openid-configuration
  tofu/jwks/atlantis-k8s01/openid/v1/jwks
  tofu/jwks/fairy-k8s01/.well-known/openid-configuration
  tofu/jwks/fairy-k8s01/openid/v1/jwks
  tofu/locals.tf
  tofu/modules/eso-namespace/main.tf
  tofu/modules/eso-namespace/outputs.tf
  tofu/modules/eso-namespace/variables.tf
  tofu/modules/gsm-secret/main.tf
  tofu/modules/gsm-secret/outputs.tf
  tofu/modules/gsm-secret/variables.tf
  tofu/oidc-host.tf
  tofu/pocketid.tf
  tofu/projects.tf
  tofu/providers.tf
  tofu/secrets-bootstrap.tf
  tofu/secrets.tf
  tofu/variables.tf
  tofu/versions.tf
  tofu/wif.tf
Due: none

fix(envoy-gateway): apply vendored envoy CRDs on atlantis (#2211)
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/envoy-gateway-crds.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/gateways.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(netflow): deploy akvorado flow collector to den1 (#2212)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/kustomization.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/apps/networking/netflow/akvorado/service-inlet.yaml
  kubernetes/apps/networking/netflow/clickhouse/configmap.yaml
  kubernetes/apps/networking/netflow/clickhouse/helmrelease.yaml
  kubernetes/apps/networking/netflow/clickhouse/kustomization.yaml
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
  kubernetes/apps/networking/netflow/kafka/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/akvorado.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/clickhouse.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kafka.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/site-public-ips.yaml
  kubernetes/clusters/atlantis-k8s01/flux/netflow.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(netflow): mount kafka log dir on a subPath
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): mount kafka log dir on a subPath (#2215)
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): point kafka controller quorum at localhost
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): point kafka controller quorum at localhost (#2216)
  kubernetes/apps/networking/netflow/kafka/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): raise akvorado orchestrator memory limit
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): raise akvorado orchestrator memory limit (#2217)
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): source akvorado OIDC creds from GSM, not 1Password
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(netflow): source akvorado OIDC creds from GSM, not 1Password (#2218)
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(netflow): drop the akvorado jwt filter, gate only
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
Due: validate-schema-alignment

fix(netflow): drop the akvorado jwt filter, gate only (#2219)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
Due: validate-schema-alignment

fix(netflow): set default sampling rate so flows are not dropped
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

fix(netflow): set default sampling rate so flows are not dropped (#2220)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): validate the akvorado ID token and map real identities
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
Due: validate-schema-alignment

feat(netflow): validate the akvorado ID token and map real identities (#2221)
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
Due: validate-schema-alignment

docs(netflow): correct the akvorado auth header comment
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

docs(netflow): correct the akvorado auth header comment (#2222)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): attribute our own public space to us, and name btx1
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): attribute our own public space to us, and name btx1 (#2223)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): give each site its own ASN, and drop upstream names
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): give each site its own ASN, and drop upstream names (#2224)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): tag internal ranges with the site ASN too
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

feat(netflow): tag internal ranges with the site ASN too (#2225)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
Due: validate-schema-alignment

fix(netflow): persist the GeoIP databases on an RWX volume
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): persist the GeoIP databases on an RWX volume (#2226)
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

feat(netflow): switch GeoIP to MaxMind GeoLite2, and stop making it optional
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/externalsecret-maxmind.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(netflow): switch GeoIP to MaxMind GeoLite2, and stop making it optional (#2227)
  kubernetes/apps/networking/netflow/akvorado/configmap.yaml
  kubernetes/apps/networking/netflow/akvorado/externalsecret-maxmind.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment
