Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

lets simplify the wg stuff even more
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/secrets/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-configs.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/secrets/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-configs.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
Due: validate-kustomizations, validate-schema-alignment

no more NPTv6
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
Due: validate-schema-alignment

cleanup
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
Due: validate-schema-alignment

HA wg linksgit status
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-routed.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/nad-wg-routers.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-1.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-2.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-3.yaml
  kubernetes/clusters/atlantis-k8s01/talos/patches/dra-feature-gates.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-1.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-2.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-3.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/daemons
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/pdb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-1.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-2.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-3.yaml
Due: validate-kustomizations, validate-schema-alignment

fix config
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/vtysh.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/pdb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-1.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-2.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-3.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
Due: none

tweaking wireguard to play nicely on hostnetwork
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-1.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-2.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-3.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: add Table=off to WG server to prevent route conflicts
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

feat: wireguard with OSPF, more OSPF can never be bad, right?
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/ks.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/daemons
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/vtysh.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/frr.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/ks.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/port-forward.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: remove sysctl from port-forward init container
  kubernetes/clusters/tortuga-k8s01/apps/wg/port-forward.yaml
Due: validate-schema-alignment

fix: install iptables in port-forward init container
  kubernetes/clusters/tortuga-k8s01/apps/wg/port-forward.yaml
Due: validate-schema-alignment

fix: add emptyDir for FRR pid files
  kubernetes/clusters/tortuga-k8s01/apps/wg/frr.yaml
Due: validate-schema-alignment

fix: frr to match atlantis
  kubernetes/clusters/tortuga-k8s01/apps/wg/frr.yaml
Due: validate-schema-alignment

fix: make both sides a /32 for ospf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

mtu and multicast fun
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

attempt 1 billion
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
Due: none

v4 and v6...are their own
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
Due: none

fix: lets get v6 working for realz
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

fix: ipv6 on server wg interface
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

fix: link-local is your friend
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
Due: none

bump hogwarts
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
Due: validate-schema-alignment

fix helm gateway
  kubernetes/apps/networking/cilium/app/helm/values.yaml
Due: validate-schema-alignment

chore: atlantis fully migrated to bridge now
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

simplify simplify simplify
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent-vpn-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-egress-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-routed.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-sidecar-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/daemons
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/frr/vtysh.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/frr.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/port-forward.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-1.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-2.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-3.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
Due: validate-kustomizations, validate-schema-alignment

wrap wrap wrap
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/default-egress-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent-vpn-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/store01-downloads.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/vpn-sidecar-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/ks.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

so close
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent-vpn-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent.yaml
Due: validate-schema-alignment

proper perms on gluetun
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent.yaml
Due: validate-kustomizations, validate-schema-alignment

enable v6 forwarding
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
Due: validate-schema-alignment

begin migration to netkit on atlantis
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium-netkit-config.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
Due: validate-kustomizations, validate-schema-alignment

use the write key for netkit
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium-netkit-config.yaml
Due: validate-schema-alignment

enable netkit by default
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

remove migration cilium node config
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium-netkit-config.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix dns for qbt
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: validate-schema-alignment

fully switchover dns
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/qbittorrent.yaml
Due: validate-schema-alignment

deploy garage s3 backed by truenas for backups
  kubernetes/apps/storage/garage/app/externalsecret.yaml
  kubernetes/apps/storage/garage/app/helmrelease.yaml
  kubernetes/apps/storage/garage/app/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas-garage.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/daemons
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/vtysh.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/nad-wg-routers.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/pdb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-1.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-2.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-3.yaml
Due: validate-kustomizations, validate-schema-alignment

deploy garage s3 backed by truenas for backups (#1199)
  kubernetes/apps/storage/garage/app/externalsecret.yaml
  kubernetes/apps/storage/garage/app/helmrelease.yaml
  kubernetes/apps/storage/garage/app/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas-garage.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/daemons
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/frr.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/frr/vtysh.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/nad-wg-routers.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/pdb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-1.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-2.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-3.yaml
Due: validate-kustomizations, validate-schema-alignment

garage cleanup
  kubernetes/apps/storage/garage/app/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

use subpaths to ensure paths are already created at initial startup
  kubernetes/apps/storage/garage/app/helmrelease.yaml
Due: validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
