Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Revert "fix(container): update rook-ceph ( v1.18.4 → v1.18.5 ) (#1002)"
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Due: validate-schema-alignment

chore: ignore info alerts
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
Due: validate-schema-alignment

update kubelet-csr-approver to upstream oci repo
  kubernetes/apps/kubelet-csr-approver/helmrelease.yaml
Due: validate-schema-alignment

upstream oci repo isn't signed
  kubernetes/apps/kubelet-csr-approver/helmrelease.yaml
Due: validate-schema-alignment

chore: upgrade to intel GPU DRA
  .taskfiles/talos/taskfile.yaml
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/kustomization.yaml
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
  kubernetes/apps/devices/intel-gpu-resource-driver/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/emby.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/jellyfin.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: add watchdog to atlantis
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

chore: add talos upgrade task
  .taskfiles/talos/taskfile.yaml
Due: none

chore: actually add the gpu component
  kubernetes/components/gpu/kustomization.yaml
  kubernetes/components/gpu/resourceclaimtemplate.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: resources
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/resourceclaimtemplate.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/emby/kustomization.yaml
  kubernetes/apps/media/emby/resourceclaimtemplate.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/jellyfin/kustomization.yaml
  kubernetes/apps/media/jellyfin/resourceclaimtemplate.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
  kubernetes/clusters/atlantis-k8s01/talos/watchdog.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/emby.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/jellyfin.yaml
  kubernetes/components/gpu/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: scrypted resources
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
Due: validate-schema-alignment

fix: remove old resources
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
Due: validate-schema-alignment

chore: switch to gatus sidecar
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/authentik.yaml
  kubernetes/clusters/atlantis-k8s01/apps/it-tools/it-tools.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/bazarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/bookshelf.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sabnzbd.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr-anime.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/grafana-instance.yaml
  kubernetes/clusters/fairy-k8s01/apps/golink/golink.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/zigbee.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/bazarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/emby.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/jellyfin.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/lidarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sabnzbd.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/grafana-instance.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/tailscale/config.yaml
  kubernetes/components/gatus/tailscale/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: switch to gatus sidecar (#1047)
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/authentik.yaml
  kubernetes/clusters/atlantis-k8s01/apps/it-tools/it-tools.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/bazarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/bookshelf.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sabnzbd.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr-anime.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/grafana-instance.yaml
  kubernetes/clusters/fairy-k8s01/apps/golink/golink.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/zigbee.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/bazarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/emby.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/jellyfin.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/lidarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sabnzbd.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/grafana-instance.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/tailscale/config.yaml
  kubernetes/components/gatus/tailscale/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: switch to upstream silence-operator oci repo
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
Due: validate-schema-alignment

bump version
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
Due: validate-schema-alignment

remove image override
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
Due: validate-schema-alignment

chore: switch to upstream silence-operator oci repo (#1054)
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
Due: validate-schema-alignment

chore: update alertmanager config and vm pvc size
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
Due: validate-schema-alignment

chore: add CRD schema extractor
  .github/workflows/schemas-extract.yaml
  .github/workflows/schemas.yaml
Due: none

chore: upload artifact
  .github/workflows/schemas-extract.yaml
Due: none

chore: move node to the right workflow for schema publishing
  .github/workflows/schemas-extract.yaml
  .github/workflows/schemas.yaml
Due: none

fix: schemas upload path
  .github/workflows/schemas.yaml
Due: none

fix: switch to s3 uploader
  .github/workflows/schemas.yaml
Due: none

fix schema publishing auth since it's not going to aws
  .github/workflows/schemas.yaml
Due: none

adjust schema uploading
  .github/workflows/schemas.yaml
Due: none

troubleshooting schema upload
  .github/workflows/schemas-extract.yaml
  .github/workflows/schemas.yaml
Due: none

download additional scripts needed
  .github/workflows/schemas-extract.yaml
Due: none

don't merge artifacts
  .github/workflows/schemas.yaml
Due: none

upload schemas to bucket
  .github/workflows/schemas.yaml
Due: none

feat: enhance repository with comprehensive development tools and documentation
  .github/workflows/repository-validation.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  scripts/setup-dev-environment.sh
  scripts/validate-repository.py
  scripts/validate-schema-alignment.py
Due: none

fix repo validation workflow
  .github/workflows/repository-validation.yaml
Due: none

feat: enhance repository with comprehensive development tools and documentation (#799)
  .github/workflows/repository-validation.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  scripts/setup-dev-environment.sh
  scripts/validate-repository.py
  scripts/validate-schema-alignment.py
Due: none

fix: gatus permissions after switching to gatus sidecar
  kubernetes/apps/observability/gatus/helmrelease.yaml
Due: validate-schema-alignment

feat: takeover plex and tautulli deployments
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/resourceclaimtemplate.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/tautulli.yaml
Due: validate-kustomizations, validate-schema-alignment

fix kustomization check to include cluster ns dirs
  .github/workflows/kustomization-completeness.yaml
Due: none

include files
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant.yaml.disabled
Due: validate-kustomizations, validate-schema-alignment

remove home assistant for now since it's not deployed
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant.yaml.disabled
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant/files/mqtt.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat: takeover plex and tautulli deployments (#1113)
  .github/workflows/kustomization-completeness.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/resourceclaimtemplate.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/tautulli.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant/files/mqtt.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/homeassistant/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment
