Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

chore(iua): hedgehog → main-20260523T022127Z-c883875
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260523T022657Z-b109072
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260523T031031Z-29c03d1
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260523T032756Z-f660125
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(fairy): switch cn01 install disk to Samsung 870 SATA
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

ci(flux-local): resolve external gateway-api source
  .github/workflows/flux-local.yaml
Due: none

ci(flux-local): fall back to --skip-invalid-kustomization-paths for diff
  .github/workflows/flux-local.yaml
Due: none

feat(networking): vendor gateway-api CRDs locally
  .github/workflows/flux-local.yaml
  .github/workflows/renovate.yaml
  .github/workflows/vendored-crds-check.yaml
  .renovaterc.json5
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_backendtlspolicies.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_gatewayclasses.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_gateways.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_grpcroutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_httproutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_listenersets.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_referencegrants.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_tlsroutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_vap_safeupgrades.yaml
  kubernetes/apps/networking/gateway-api/kustomization.yaml
  kubernetes/apps/networking/gateway-api/source.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/gateway-api.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/gateway-api.yaml
  scripts/vendor-gateway-api-crds.sh
Due: validate-kustomizations, validate-schema-alignment

fix(networking): address Cursor + Copilot review on vendor PR
  .github/workflows/renovate.yaml
  scripts/vendor-gateway-api-crds.sh
Due: none

feat(networking): vendor gateway-api CRDs locally (#1869)
  .github/workflows/flux-local.yaml
  .github/workflows/renovate.yaml
  .github/workflows/vendored-crds-check.yaml
  .renovaterc.json5
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_backendtlspolicies.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_gatewayclasses.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_gateways.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_grpcroutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_httproutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_listenersets.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_referencegrants.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_tlsroutes.yaml
  kubernetes/apps/networking/gateway-api/gateway.networking.k8s.io_vap_safeupgrades.yaml
  kubernetes/apps/networking/gateway-api/kustomization.yaml
  kubernetes/apps/networking/gateway-api/source.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/gateway-api.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/gateway-api.yaml
  scripts/vendor-gateway-api-crds.sh
Due: validate-kustomizations, validate-schema-alignment

fix(netdisco): disable PDB on single-instance postgres cluster
  kubernetes/apps/networking/netdisco/cluster.yaml
Due: validate-schema-alignment

feat(media): move emby public endpoint to emby.freckle.media on envoy
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
Due: validate-schema-alignment

feat(media): move plex public endpoint to plex.freckle.media on envoy
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
Due: validate-schema-alignment

fix(networking): point homebox + it-tools at envoy tailnet gateway
  kubernetes/apps/homebox/homebox/helmrelease.yaml
  kubernetes/apps/it-tools/helmrelease.yaml
Due: validate-schema-alignment

refactor(atlantis): drop cilium gateway api support
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium-gw-config.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(atlantis): purge cilium gateway Flux plumbing
  kubernetes/clusters/atlantis-k8s01/apps/gateway/certificates.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway/gateways.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/gateway.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(networking): retire cilium gateway-api entirely
  kubernetes/apps/networking/cilium/gateway-config/kustomization.yaml
  kubernetes/apps/networking/cilium/gateway-config/tailscale-gwclass.yaml
  kubernetes/apps/networking/gateway/certificates.yaml
  kubernetes/apps/networking/gateway/gw-external.yaml
  kubernetes/apps/networking/gateway/gw-internal.yaml
  kubernetes/apps/networking/gateway/gw-media-mgmt.yaml
  kubernetes/apps/networking/gateway/gw-media-public.yaml
  kubernetes/apps/networking/gateway/gw-media.yaml
  kubernetes/apps/networking/gateway/gw-tailscale.yaml
  kubernetes/apps/networking/gateway/kustomization.yaml
  kubernetes/apps/networking/gateway/redirect.yaml
  kubernetes/clusters/fairy-k8s01/apps/gateway/gateways.yaml
  kubernetes/clusters/fairy-k8s01/apps/gateway/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(fairy): drop ./gateway from cluster-apps kustomize list
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(renovate): split tag@digest in the annotated-deps regex
  .renovate/customManagers.json5
Due: none

fix(media): bump volsync cache for plex to 25Gi
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
Due: validate-schema-alignment

ci(renovate): separate qbt-ink qbittorrent PRs from the base HR
  .renovate/infraPackages.json5
Due: none

fix(atlantis): label democratic-csi ns with PSA privileged
  kubernetes/clusters/atlantis-k8s01/flux/democratic-csi.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260526T052350Z-6dcfd9f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260526T053121Z-8f05592
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260526T070136Z-3838ace
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260526T071221Z-7ddb386
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T134431Z-c25a48f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T150137Z-a1a3f20
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T150624Z-356e913
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T155349Z-82a6d8e
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T161146Z-98bdf4f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T185404Z-d066f93
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T190428Z-f0f68b2
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T201253Z-00e59ae
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T210232Z-b09d5a7
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T215302Z-701f28d
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T221004Z-d417465
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T225054Z-aceefba
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T231238Z-6bc60da
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260527T231730Z-a819dfc
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
