Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

fix
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

it's like I've never done this before
  kubernetes/apps/networking/envoy-gateway/controller/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/envoy-gateway.yaml
Due: validate-kustomizations, validate-schema-alignment

add a dependency
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/gateways.yaml
Due: validate-schema-alignment

dual stack envoy gateway
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
Due: validate-schema-alignment

fix namespace reference
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
Due: validate-schema-alignment

fix svc cert name
  kubernetes/apps/networking/gateway-configs/certificates.yaml
Due: validate-schema-alignment

fixup
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
Due: validate-schema-alignment

enable drift protection
  kubernetes/apps/networking/envoy-gateway/controller/helmrelease.yaml
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
Due: validate-schema-alignment

add qbittorrent
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
Due: validate-kustomizations, validate-schema-alignment

fix chart ref
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: validate-schema-alignment

chore: cleanup qbittorrent vpn config
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/vpn.yaml
  kubernetes/components/vpn-route-fix/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/components/vpn-route-fix/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/components/vpn-route-fix/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix schemas
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-media.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-public.yaml
Due: validate-schema-alignment

fix schemas
  kubernetes/apps/networking/gateway-configs/gw-envoy-media.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-public.yaml
Due: validate-schema-alignment

chore: cleanup qbittorrent vpn config (#1147)
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-media.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-public.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/vpn.yaml
Due: validate-kustomizations, validate-schema-alignment

not making media ns privileged to drop routes
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/vpn.yaml
Due: validate-schema-alignment

fix mac
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
Due: validate-schema-alignment

vpn fixes for v6
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/vpn.yaml
Due: validate-schema-alignment

disable ipv6 on pod interface
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: validate-schema-alignment

use cilium to block ipv6 on pod interface
  kubernetes/apps/media/qbittorrent/ciliumnetworkpolicy.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

add qui
  kubernetes/apps/media/qui/externalsecret.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/qui/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qui.yaml
Due: validate-kustomizations, validate-schema-alignment

helps to update it after copypasta
  kubernetes/clusters/atlantis-k8s01/apps/media/qui.yaml
Due: validate-schema-alignment

update pvc
  kubernetes/apps/media/qui/helmrelease.yaml
Due: validate-schema-alignment

add more goodies
  kubernetes/apps/media/autobrr/externalsecret.yaml
  kubernetes/apps/media/autobrr/helmrelease.yaml
  kubernetes/apps/media/autobrr/kustomization.yaml
  kubernetes/apps/media/flaresolverr/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/kustomization.yaml
  kubernetes/apps/media/unpackerr/externalsecret.yaml
  kubernetes/apps/media/unpackerr/helmrelease.yaml
  kubernetes/apps/media/unpackerr/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/autobrr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/flaresolverr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/unpackerr.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: deploy reflector so I can remove kyverno
  kubernetes/apps/reflector/helmrelease.yaml
  kubernetes/apps/reflector/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/reflector.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/reflector.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: goodbye kyverno hello reflector
  kubernetes/apps/security/kyverno/helmrelease.yaml
  kubernetes/apps/security/kyverno/helmrepo.yaml
  kubernetes/apps/security/kyverno/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/policy-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/policy-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/security/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/security/kyverno.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/policy-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/policy-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/security/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/security/kyverno.yaml
Due: validate-kustomizations, validate-schema-alignment

add tortuga-k8s01
  kubernetes/clusters/tortuga-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/namespace.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/external-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/onepassword-connect.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-instance.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-operator.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/generic-device-plugin.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kubelet-csr-approver.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/metrics-server.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reflector.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reloader.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/files/wg-server/wg0.conf.tmpl
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
  kubernetes/clusters/tortuga-k8s01/flux/apps.yaml
Due: validate-kustomizations, validate-schema-alignment

fix wg dep and deploy it in atlantis
  kubernetes/clusters/atlantis-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/files/wg-vpn-router/wg0.conf.tmpl
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/nad-vpn.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router.yaml
Due: validate-kustomizations, validate-schema-alignment

begin migration to new downloaders ns which has locked down network policies
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/default-egress-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/store01-downloads.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-egress-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/vpn-routed.yaml
Due: validate-kustomizations, validate-schema-alignment

helps if you commit the actual wg app
  kubernetes/apps/networking/wireguard/helmrelease.yaml
  kubernetes/apps/networking/wireguard/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

commit script to generate wg secrets
  scripts/setup-wireguard-secrets.sh
Due: none

deploy tailscale to tortuga
  kubernetes/apps/networking/tailscale-operator/proxygroup/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/proxygroup/pg-egress.yaml
  kubernetes/apps/networking/tailscale-operator/proxygroup/pg-ingress.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/routers/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/routers/router.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-operator.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxyclass.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxygroup.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-routers.yaml
Due: validate-kustomizations, validate-schema-alignment

cleanup
  kubernetes/apps/media/qbittorrent/ciliumnetworkpolicy.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/networking/vpn.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: seedsync never actually got deployed
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore: update cf-tunnel config
  kubernetes/apps/networking/cloudflare-tunnel/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflare-tunnel/files/config.yaml
Due: validate-schema-alignment

vpn fixes now that it's deployed with flux
  kubernetes/clusters/atlantis-k8s01/apps/wg/files/wg-vpn-router/wg0.conf.tmpl
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/files/wg-server/wg0.conf.tmpl
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
Due: validate-schema-alignment

add bootstrap scripts
  bootstrap/README.md
  bootstrap/helmfile.yaml
  bootstrap/setup-1password.sh
  kubernetes/apps/networking/cilium/app/helm/values.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

deploy envoy gateway
  kubernetes/clusters/tortuga-k8s01/apps/envoy-gateway-system/envoy-gateway.yaml
  kubernetes/clusters/tortuga-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

cleanup wg
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/configs/wg-vpn-router/wg0.conf
  kubernetes/clusters/atlantis-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/secrets/es-wg-vpn-router.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/secrets/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router-configs.yaml
  kubernetes/clusters/atlantis-k8s01/apps/wg/wg-vpn-router.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/files/wg-server/wg0.conf.tmpl
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/secrets/es-wg-server.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/secrets/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server-configs.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
Due: validate-kustomizations, validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
