Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

feat(cilium): switch to official Cilium OCI repo and upgrade to 1.19.0
  kubernetes/apps/networking/cilium/app/helmrelease.yaml
Due: validate-schema-alignment

add mariadb
  kubernetes/apps/database/mariadb-operator/helmrelease-crds.yaml
  kubernetes/apps/database/mariadb-operator/helmrelease-operator.yaml
  kubernetes/apps/database/mariadb-operator/helmrepository.yaml
  kubernetes/apps/database/mariadb-operator/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main-externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-operator.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup
  kubernetes/apps/database/mariadb-operator/helmrelease-crds.yaml
  kubernetes/apps/database/mariadb-operator/helmrelease-operator.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
Due: validate-schema-alignment

Update kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-operator.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-operator.yaml
Due: validate-schema-alignment

improvements
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
Due: validate-schema-alignment

bump es version
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main-externalsecret.yaml
Due: validate-schema-alignment

add mariadb (#1575)
  kubernetes/apps/database/mariadb-operator/helmrelease-crds.yaml
  kubernetes/apps/database/mariadb-operator/helmrelease-operator.yaml
  kubernetes/apps/database/mariadb-operator/helmrepository.yaml
  kubernetes/apps/database/mariadb-operator/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main-externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-operator.yaml
Due: validate-kustomizations, validate-schema-alignment

fix mariadb crd
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
Due: validate-schema-alignment

add snipe-it
  kubernetes/apps/snipe-it/mariadb/database.yaml
  kubernetes/apps/snipe-it/mariadb/externalsecret.yaml
  kubernetes/apps/snipe-it/mariadb/kustomization.yaml
  kubernetes/apps/snipe-it/mariadb/user.yaml
  kubernetes/apps/snipe-it/snipe-it/externalsecret.yaml
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
  kubernetes/apps/snipe-it/snipe-it/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/mariadb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/snipe-it.yaml
  kubernetes/clusters/atlantis-k8s01/flux/snipe-it.yaml
Due: validate-kustomizations, validate-schema-alignment

add migrated-to-ks file
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/.migrated-to-ks
Due: none

version bump
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

Update kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

Update kubernetes/apps/snipe-it/mariadb/user.yaml
  kubernetes/apps/snipe-it/mariadb/user.yaml
Due: validate-schema-alignment

fix ns perms
  kubernetes/clusters/atlantis-k8s01/flux/snipe-it.yaml
Due: validate-schema-alignment

add snipe-it (#1578)
  kubernetes/apps/snipe-it/mariadb/database.yaml
  kubernetes/apps/snipe-it/mariadb/externalsecret.yaml
  kubernetes/apps/snipe-it/mariadb/kustomization.yaml
  kubernetes/apps/snipe-it/mariadb/user.yaml
  kubernetes/apps/snipe-it/snipe-it/externalsecret.yaml
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
  kubernetes/apps/snipe-it/snipe-it/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/.migrated-to-ks
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/mariadb.yaml
  kubernetes/clusters/atlantis-k8s01/apps/snipe-it/snipe-it.yaml
  kubernetes/clusters/atlantis-k8s01/flux/snipe-it.yaml
Due: validate-kustomizations, validate-schema-alignment

fix database host
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

fs perms fix
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

perms causing fs issues
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

fix https issue
  kubernetes/apps/snipe-it/snipe-it/helmrelease.yaml
Due: validate-schema-alignment

feat: deploy Homebox to atlantis-k8s01
  kubernetes/apps/homebox/homebox/externalsecret.yaml
  kubernetes/apps/homebox/homebox/helmrelease.yaml
  kubernetes/apps/homebox/homebox/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/.migrated-to-ks
  kubernetes/clusters/atlantis-k8s01/apps/homebox/homebox.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/homebox.yaml
Due: validate-kustomizations, validate-schema-alignment

fix homebox image tag
  kubernetes/apps/homebox/homebox/helmrelease.yaml
Due: validate-schema-alignment

fix homebox db env vars
  kubernetes/apps/homebox/homebox/externalsecret.yaml
Due: validate-schema-alignment

chore: migrate fairy to native routing
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

fix(cilium): update OCI chart signature verification to use official Cilium identity
  kubernetes/apps/networking/cilium/app/helmrelease.yaml
Due: validate-schema-alignment

feat(cilium): enable automatic Hubble TLS certificate rotation
  kubernetes/apps/networking/cilium/app/helm/values.yaml
Due: validate-schema-alignment

temp: disable Hubble to break cert deadlock
  kubernetes/apps/networking/cilium/app/helm/values.yaml
Due: validate-schema-alignment

feat(cilium): re-enable Hubble with default TLS settings
  kubernetes/apps/networking/cilium/app/helm/values.yaml
Due: validate-schema-alignment

feat(cilium): migrate atlantis pod routing to tunnel mode
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

chore: migrate from Intel GPU DRA back to device plugin
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/nvidia-runtime.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/tpm-encryption.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/watchdog.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(container): update intel device plugins to 0.35.0 and fix chart URLs
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
Due: validate-schema-alignment

fix: use official Intel OCI registry for device plugin charts
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
Due: validate-schema-alignment

chore: remove spegel from fairy-k8s01 cluster
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/spegel.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: downgrade Intel device plugins to 0.34.0
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
Due: validate-schema-alignment

fix: use Intel device plugins 0.34.1 (0.34.0 not in OCI registry)
  kubernetes/apps/devices/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
Due: validate-schema-alignment

feat: revert to Intel GPU Resource Driver (DRA) with ResourceClaimTemplates
  kubernetes/apps/devices/intel-device-plugin/operator/helmrelease.yaml
  kubernetes/apps/devices/intel-device-plugin/operator/kustomization.yaml
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
  kubernetes/apps/devices/intel-gpu-resource-driver/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-device-plugin.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-gpu-resource-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(fairy): add NVIDIA GPU Operator for Talos 1.13
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/nvidia-gpu-operator.yaml
  kubernetes/clusters/fairy-k8s01/flux/gpu-operator.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(fairy): remove TPM encryption from DGX nodes and fix GPU operator kustomization
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(gpu-operator): update chart version to v26.3.0
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

feat(gpu-operator): add NVIDIA RuntimeClass for GPU workloads
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/kustomization.yaml
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/runtimeclass.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(fairy): add GPU-specific labels and separate NFD instances
  kubernetes/apps/devices/node-feature-discovery/controller/helmrelease.yaml
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
