Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

chore: switch to a centralized app-template (#1119)
  kubernetes/apps/auth/lldap/helmrelease.yaml
  kubernetes/apps/auth/pocket-id/helmrelease.yaml
  kubernetes/apps/home-automation/esphome/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee/helmrelease.yaml
  kubernetes/apps/it-tools/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bookshelf/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/recyclarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/watchstate/helmrelease.yaml
  kubernetes/apps/media/webhook/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/apps/security/kyverno/helmrelease.yaml
  kubernetes/apps/security/kyverno/helmrepo.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/es-cluster-domains.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/namespace.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/es-cluster-domains.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/namespace.yaml
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

deploy seerr to atlantis
  kubernetes/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/media/seerr/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

add missing seerr file
  kubernetes/clusters/atlantis-k8s01/apps/media/seerr.yaml
Due: validate-schema-alignment

cleanup seerr hr
  kubernetes/apps/media/seerr/helmrelease.yaml
Due: validate-schema-alignment

deploy pocket-id for media auth
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/pocket-id.yaml
Due: validate-kustomizations, validate-schema-alignment

fix route/svc
  kubernetes/apps/auth/pocket-id/helmrelease.yaml
Due: validate-schema-alignment

wrap media apps in their own kustomize
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/ks.yaml
Due: validate-kustomizations, validate-schema-alignment

consistancy
  kubernetes/clusters/atlantis-k8s01/apps/media/pocket-id.yaml
Due: validate-schema-alignment

add varsub to root cluster-apps
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix kustomization check
  .github/workflows/kustomization-completeness.yaml
Due: none

fix check
  .github/workflows/kustomization-completeness.yaml
Due: none

deploy pocket-id for media auth (#1121)
  .github/workflows/kustomization-completeness.yaml
  kubernetes/apps/auth/pocket-id/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/ks.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/pocket-id.yaml
Due: validate-kustomizations, validate-schema-alignment

switch pocket id to root url not cluster url
  kubernetes/clusters/atlantis-k8s01/apps/media/pocket-id.yaml
Due: validate-schema-alignment

remove media-apps wrapper
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/ks.yaml
Due: validate-kustomizations, validate-schema-alignment

redo apps
  kubernetes/apps/flux/instance/helm/values.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

sync cluster info and secrets instead of duplicating it by hand
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/policy-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/policy-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/policy-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/policy-cluster-secrets.yaml
  kubernetes/components/common/infra-info-cluster.yaml
  kubernetes/components/flux-post-build-variables/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

don't use varsub to deploy vars
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

back to cluster-apps wrapper
  kubernetes/apps/flux/instance/helm/values.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

remove old file
  kubernetes/components/common/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fixup cluster info/secrets
  kubernetes/clusters/atlantis-k8s01/apps/observability/vm-k8s-stack.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/vm-k8s-stack.yaml
Due: validate-schema-alignment

remove old clusterip gateway class
  kubernetes/apps/networking/cilium/gateway-config/clusterip-gwclass.yaml
  kubernetes/apps/networking/cilium/gateway-config/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat: add minecraft server
  kubernetes/apps/games/minecraft/base/kustomization.yaml
  kubernetes/apps/games/minecraft/base/ocirepo.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/externalsecret.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/minecraft-base.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/minecraft-servers.yaml
Due: validate-kustomizations, validate-schema-alignment

Update kubernetes/apps/games/minecraft/servers/hogwarts/externalsecret.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/externalsecret.yaml
Due: validate-schema-alignment

feat: add minecraft server (#1130)
  kubernetes/apps/games/minecraft/base/kustomization.yaml
  kubernetes/apps/games/minecraft/base/ocirepo.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/externalsecret.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/minecraft-base.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/minecraft-servers.yaml
Due: validate-kustomizations, validate-schema-alignment

no better-leaves it's not a mod
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
Due: validate-schema-alignment

fix some naming
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/minecraft-servers.yaml
Due: validate-schema-alignment

chore: add E to hogwarts
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
Due: validate-schema-alignment

deploy jelly to atlantis and fuckery with domains again
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/jellyfin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

deploy jellystat
  kubernetes/apps/media/jellystat/externalsecret.yaml
  kubernetes/apps/media/jellystat/helmrelease.yaml
  kubernetes/apps/media/jellystat/kustomization.yaml
  kubernetes/apps/media/streamystats/externalsecret.yaml
  kubernetes/apps/media/streamystats/helmrelease.yaml
  kubernetes/apps/media/streamystats/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/jellystat.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

wrong namespace
  kubernetes/apps/media/jellystat/helmrelease.yaml
Due: validate-schema-alignment

fix up jellystat
  kubernetes/apps/media/jellystat/externalsecret.yaml
  kubernetes/apps/media/jellystat/helmrelease.yaml
Due: validate-schema-alignment

chore: fix ci
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellystat/externalsecret.yaml
  kubernetes/apps/media/jellystat/helmrelease.yaml
  kubernetes/apps/media/lidarr/externalsecret.yaml
  kubernetes/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/media/streamystats/externalsecret.yaml
  kubernetes/apps/media/streamystats/helmrelease.yaml
  kubernetes/apps/media/webhook/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sonarr.yaml
Due: validate-schema-alignment

chore: fix ci (#1135)
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellystat/externalsecret.yaml
  kubernetes/apps/media/jellystat/helmrelease.yaml
  kubernetes/apps/media/lidarr/externalsecret.yaml
  kubernetes/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/media/streamystats/externalsecret.yaml
  kubernetes/apps/media/streamystats/helmrelease.yaml
  kubernetes/apps/media/webhook/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sonarr.yaml
Due: validate-schema-alignment

fix: varsub for media auth
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/ks.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/pocket-id.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

one level deeper
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: varsub for media auth (#1137)
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/ks.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/auth/pocket-id.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

switch seer to oidc preview tag until it's merged
  kubernetes/apps/media/seerr/helmrelease.yaml
Due: validate-schema-alignment

chore: deploy anime profiles to regular sonarr in atlantis
  kubernetes/clusters/atlantis-k8s01/apps/media/recyclarr/config/recyclarr.yml
Due: validate-schema-alignment

feat: begin migration to envoy gateway
  kubernetes/apps/networking/envoy-gateway/controller/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/controller/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/controller/ocirepository.yaml
  kubernetes/apps/networking/gateway-configs/certificates.yaml
  kubernetes/apps/networking/gateway-configs/envoy-proxy.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-media.yaml
  kubernetes/apps/networking/gateway-configs/gw-envoy-public.yaml
  kubernetes/apps/networking/gateway-configs/kustomization.yaml
  kubernetes/apps/networking/gateway-configs/redirect.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

include the actual deployments
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/envoy-gateway.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/gateways.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
