Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

fix(tautulli): re-enable dual-stack svc
  kubernetes/apps/media/tautulli/helmrelease.yaml
Due: validate-schema-alignment

feat(qbittorrent): migrate qbt-ink and qbt-reel to bare-name PVC pattern
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-ink.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel.yaml
Due: validate-schema-alignment

feat(media): migrate jellyfin and seerr to bare-name PVC pattern
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/seerr/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/jellyfin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/seerr.yaml
Due: validate-schema-alignment

feat(media): migrate bazarr to bare-name PVC pattern + modernize
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/bazarr/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/bazarr.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(media): migrate prowlarr, radarr, sabnzbd (*arr stack batch)
  kubernetes/apps/media/prowlarr/externalsecret.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/oidc.yaml
  kubernetes/apps/media/radarr/externalsecret.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/oidc.yaml
  kubernetes/apps/media/sabnzbd/externalsecret.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/sabnzbd.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(sabnzbd): bind dual-stack via SABNZBD__HOST=::
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: validate-schema-alignment

fix(sabnzbd): drop dual-stack svc — IPv6 bind broken upstream
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: validate-schema-alignment

fix(sabnzbd): force SingleStack IPv4 explicitly
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: validate-schema-alignment

feat(media): driftDetection ignores /spec/replicas; volsync PVCs are retain-style
  kubernetes/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/media/autobrr/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/mousehole/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/recyclarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/unpackerr/helmrelease.yaml
  kubernetes/apps/media/webhook/helmrelease.yaml
  kubernetes/components/volsync/pvc.yaml
Due: validate-schema-alignment

feat(cross-seed): convert StatefulSet → Deployment, bare-name PVC, modernize
  kubernetes/apps/media/cross-seed/externalsecret.yaml
  kubernetes/apps/media/cross-seed/helmrelease.yaml
  kubernetes/apps/media/cross-seed/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/cross-seed.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(emby): migrate to bare-name PVC pattern + modernize
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/emby/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(plex): hybrid migration — bare plex PVC + sibling plex-cache PVC
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/pvc-cache.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plex.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(media): standardize \${APP:=<name>} substitution on volsync-PVC apps
  kubernetes/apps/media/autobrr/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bookshelf/helmrelease.yaml
  kubernetes/apps/media/bookshelf/kustomization.yaml
  kubernetes/apps/media/cross-seed/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/lidarr/externalsecret.yaml
  kubernetes/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/media/lidarr/kustomization.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/unpackerr/helmrelease.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(recyclarr): lower radarr min_format_score 1000 → 10
  kubernetes/clusters/atlantis-k8s01/apps/media/recyclarr/config/recyclarr.yml
Due: validate-schema-alignment

fix(emby): correct watch.freckle.vision backend port 8096 → 80
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
Due: validate-schema-alignment

feat(volsync): parameterize mover runAsNonRoot via VOLSYNC_RUN_AS_NON_ROOT
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(promptbook): add ubuntu-sleep stub for kubectl-cp binary testing
  kubernetes/apps/media/promptbook/helmrelease.yaml
  kubernetes/apps/media/promptbook/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/promptbook.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(promptbook): wire encora + stagemedia API keys, drop sleep grace period
  kubernetes/apps/media/promptbook/externalsecret.yaml
  kubernetes/apps/media/promptbook/helmrelease.yaml
  kubernetes/apps/media/promptbook/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(promptbook): expose svc on :80, target container :8080
  kubernetes/apps/media/promptbook/helmrelease.yaml
Due: validate-schema-alignment

feat(plextraktsync): one-way Trakt → Plex sync, per-user CronJob
  kubernetes/apps/media/plextraktsync/config.yml
  kubernetes/apps/media/plextraktsync/externalsecret.yaml
  kubernetes/apps/media/plextraktsync/helmrelease.yaml
  kubernetes/apps/media/plextraktsync/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/plextraktsync-nicole.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(media): give qui and qbt-reel read-only TV/Movies access
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel.yaml
Due: validate-schema-alignment

feat(qui): mount qbt-reel downloads RW for cross-seed hardlinks
  kubernetes/apps/media/qui/helmrelease.yaml
Due: validate-schema-alignment

feat(recyclarr): switch radarr to plex-tmdb, sonarr to jellyfin-tvdb
  kubernetes/apps/media/recyclarr/config/recyclarr.yml
  kubernetes/clusters/atlantis-k8s01/apps/media/recyclarr/config/recyclarr.yml
Due: validate-schema-alignment

feat(qui): collapse media mounts to a single /store01 mount
  kubernetes/apps/media/qui/helmrelease.yaml
Due: validate-schema-alignment

chore(fairy): remove media namespace
  kubernetes/clusters/fairy-k8s01/apps/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/bazarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/emby.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/lidarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/prowlarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/radarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/recyclarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sabnzbd.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/sonarr.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/vault01-store01.yaml
  kubernetes/clusters/fairy-k8s01/apps/media/webhook.yaml
Due: validate-kustomizations, validate-schema-alignment

ci(completeness): catch namespace dirs without flux/ wiring
  .github/workflows/kustomization-completeness.yaml
Due: none

chore: remove authentik
  README.md
  kubernetes/apps/auth/authentik/app/externalsecret.yaml
  kubernetes/apps/auth/authentik/app/helmrelease.yaml
  kubernetes/apps/auth/authentik/app/kustomization.yaml
  kubernetes/apps/auth/authentik/remote-cluster/helmrelease.yaml
  kubernetes/apps/auth/authentik/remote-cluster/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/freckle-id/authentik-remote.yaml
  kubernetes/clusters/fairy-k8s01/apps/freckle-id/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(qbt-ink): pin image tag, track separately from shared HR
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-ink.yaml
Due: validate-schema-alignment

chore(apps): remove orphan shared apps
  kubernetes/apps/networking/metallb/helmrelease.yaml
  kubernetes/apps/networking/metallb/kustomization.yaml
  kubernetes/apps/networking/wireguard-gateway/ccnp.yaml
  kubernetes/apps/networking/wireguard-gateway/externalsecret.yaml
  kubernetes/apps/networking/wireguard-gateway/helmrelease.yaml
  kubernetes/apps/networking/wireguard-gateway/kustomization.yaml
  kubernetes/apps/networking/wireguard/helmrelease.yaml
  kubernetes/apps/networking/wireguard/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/helmrelease.yaml
  kubernetes/apps/storage/local-path-provisioner/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(volsync): parameterize cache capacity, bump emby to 25Gi
  kubernetes/clusters/atlantis-k8s01/apps/media/emby.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Due: validate-schema-alignment

feat(hedgehog): scaffold app and enable flux image automation
  kubernetes/apps/flux/instance/github-app-externalsecret.yaml
  kubernetes/apps/flux/instance/helm/values.yaml
  kubernetes/apps/flux/instance/imageupdateautomation.yaml
  kubernetes/apps/flux/instance/kustomization.yaml
  kubernetes/apps/hedgehog/db/app-role-externalsecret.yaml
  kubernetes/apps/hedgehog/db/bucket.yaml
  kubernetes/apps/hedgehog/db/cluster.yaml
  kubernetes/apps/hedgehog/db/database.yaml
  kubernetes/apps/hedgehog/db/externalsecret.yaml
  kubernetes/apps/hedgehog/db/kustomization.yaml
  kubernetes/apps/hedgehog/db/objectstore.yaml
  kubernetes/apps/hedgehog/platform/ghcr-login.externalsecret.yaml
  kubernetes/apps/hedgehog/platform/imagepolicy.yaml
  kubernetes/apps/hedgehog/platform/imagerepository.yaml
  kubernetes/apps/hedgehog/platform/kustomization.yaml
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/db.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/hedgehog.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/platform.yaml
  kubernetes/clusters/atlantis-k8s01/flux/hedgehog.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): defer ImageUpdateAutomation to dependent KS
  kubernetes/apps/flux/image-automation/imageupdateautomation.yaml
  kubernetes/apps/flux/image-automation/kustomization.yaml
  kubernetes/apps/flux/instance/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/image-automation.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): correct GitHub App Secret key names
  kubernetes/apps/flux/instance/github-app-externalsecret.yaml
Due: validate-schema-alignment

fix(flux): wire IUA setter resolution to cross-namespace policy
  kubernetes/apps/flux/image-automation/imagepolicy-hedgehog.yaml
  kubernetes/apps/flux/image-automation/imageupdateautomation.yaml
  kubernetes/apps/flux/image-automation/kustomization.yaml
  kubernetes/apps/hedgehog/platform/imagerepository.yaml
  kubernetes/apps/hedgehog/platform/kustomization.yaml
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): use .Changed.FileChanges in IUA messageTemplate
  kubernetes/apps/flux/image-automation/imageupdateautomation.yaml
Due: validate-schema-alignment

chore(images): update tags
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260515T115120Z-064be1c
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(flux): improve IUA commit message template
  kubernetes/apps/flux/image-automation/imageupdateautomation.yaml
Due: validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
