Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

refactor(docs): restructure TrueNAS page as product overview
  docs/sites/fairy/index.md
  docs/storage/index.md
  docs/storage/truenas-mini-r.md
  docs/storage/truenas-store01.md
Due: none

fix(docs): clarify rack IDs are per-site, not globally unique
  docs/naming-conventions.md
Due: none

fix(docs): use correct naming scheme in BMC example
  docs/naming-conventions.md
Due: none

docs(naming): note DGX Spark nodes use JetKVM for management
  docs/naming-conventions.md
Due: none

feat(docs): add device inventory page and reference section
  .github/workflows/docs.yaml
  docs/_data/devices.yaml
  docs/index.md
  docs/reference/glossary.md
  docs/reference/index.md
  docs/reference/inventory.md
  docs/reference/naming-conventions.md
  docs/sites/fairy/index.md
  scripts/generate-inventory.py
  scripts/generate-llms-txt.py
  zensical.toml
Due: none

feat(docs): add WiFi APs and JetKVMs to device inventory
  docs/_data/devices.yaml
  docs/reference/inventory.md
Due: none

fix(docs): align inventory roles with naming conventions
  docs/_data/devices.yaml
  docs/reference/inventory.md
Due: none

feat(docs): add SVG dark mode, network segmentation, and pod integration
  docs/networking/fairy-network-topology.svg
  docs/networking/fairy-network.md
  docs/sites/fairy/rack-mdf.svg
  docs/sites/fairy/rack-r02.svg
  zensical.toml
Due: none

refactor(docs): rename role to function, add model subtext to rack SVGs
  docs/_data/devices.yaml
  docs/reference/inventory.md
  docs/sites/fairy/index.md
  docs/sites/fairy/rack-mdf.svg
  docs/sites/fairy/rack-r02.svg
  scripts/generate-inventory.py
Due: none

refactor(docs): rename Freckle Compute Nodes page to Freckle Node
  docs/_data/devices.yaml
  docs/compute/freckle-node.md
  docs/compute/index.md
  docs/reference/inventory.md
  docs/sites/fairy/index.md
  zensical.toml
Due: none

docs: document AP naming pattern and clarify inventory scope
  docs/reference/inventory.md
  docs/reference/naming-conventions.md
  scripts/generate-inventory.py
Due: none

fix(docs): rename Freckle to Freckle Node in glossary
  docs/reference/glossary.md
Due: none

fix(docs): specify copper variant of AXP90-X53 cooler
  docs/compute/freckle-node.md
Due: none

fix(media): point vault01 NFS PV at temporary migration IP
  kubernetes/clusters/fairy-k8s01/apps/media/vault01-store01.yaml
Due: validate-schema-alignment

feat(networking): add multus-trusted NAD managed by Flux
  docs/networking/fairy-network.md
  kubernetes/apps/networking/multus-trusted/kustomization.yaml
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/networking/multus-trusted.yaml
  kubernetes/clusters/fairy-k8s01/flux/networking.yaml
Due: validate-kustomizations, validate-schema-alignment

Revert "feat(container): update image ghcr.io/intel/intel-resource-drivers-for-kubernetes/intel-gpu-resource-driver-chart ( 0.9.1 → 0.10.0 ) (#1686)"
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

fix(devices): update intel GPU CDI spec paths for Talos 1.13
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

fix(networking): match multus-iot NAD config for multus-trusted
  kubernetes/apps/networking/multus-trusted/nad.yaml
Due: validate-schema-alignment

docs(networking): update AT&T 802.1X bypass setup and design notes
  docs/guides/att-802.1x-bypass.md
Due: none

fix(observability): correct VM scrape job labels and reduce value overrides
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
Due: validate-schema-alignment

feat(fairy): add bridge VLAN config, DRA GPU/RDMA, and multi-node vLLM
  kubernetes/apps/devices/nvidia-dra-driver/helmrelease.yaml
  kubernetes/apps/devices/nvidia-dra-driver/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/kustomization.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/runtimeclass.yaml
  kubernetes/apps/inference/leader-worker-set/helmrelease.yaml
  kubernetes/apps/inference/leader-worker-set/kustomization.yaml
  kubernetes/apps/inference/resource-claims/kustomization.yaml
  kubernetes/apps/inference/resource-claims/resourceclaimtemplates.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/kustomization.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/leaderworkerset.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/service.yaml
  kubernetes/apps/inference/vllm-gpt-oss/deployment.yaml
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
  kubernetes/apps/inference/vllm-gpt-oss/service.yaml
  kubernetes/apps/networking/bridge-vlan-config/daemonset.yaml
  kubernetes/apps/networking/bridge-vlan-config/kustomization.yaml
  kubernetes/apps/networking/dranet/helmrelease.yaml
  kubernetes/apps/networking/dranet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/nvidia-dra-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/leader-worker-set.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/resource-claims.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss-2node.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/bridge-vlan-config.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/dranet.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-vlan-filtering.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(networking): add home VLAN subinterface and refine bridge config
  kubernetes/apps/networking/bridge-vlan-config/daemonset.yaml
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-vlan-filtering.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(devices): enable NFD rules for Intel GPU resource driver
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

refactor(devices): let Intel GPU resource driver manage its own NFD rule
  kubernetes/apps/devices/node-feature-discovery/rules/intel-gpu.yaml
  kubernetes/apps/devices/node-feature-discovery/rules/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(networking): switch DRANet to vendored install manifest
  kubernetes/apps/networking/dranet/helmrelease.yaml
  kubernetes/apps/networking/dranet/install.yaml
  kubernetes/apps/networking/dranet/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(devices): enable NRI in containerd on DGX nodes
  kubernetes/clusters/fairy-k8s01/talos/patches/nri.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(devices): set correct nvidiaDriverRoot for Talos system extensions
  kubernetes/apps/devices/nvidia-dra-driver/helmrelease.yaml
Due: validate-schema-alignment

fix(devices): correct nvidiaDriverRoot and driverInstallDir for Talos
  kubernetes/apps/devices/nvidia-dra-driver/helmrelease.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(devices): disable GPU Operator's NFD via nfd.enabled
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(talos): move bridge sysctls to cn-only patch, rename NRI config
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/nri.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(talos): move NRI config into shared containerd customization
  kubernetes/clusters/fairy-k8s01/talos/patches/nri.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(devices): enable GPU resources in DRA driver
  kubernetes/apps/devices/nvidia-dra-driver/helmrelease.yaml
Due: validate-schema-alignment

revert(devices): switch back to device plugin, add RDMA shared plugin
  kubernetes/apps/devices/nvidia-dra-driver/helmrelease.yaml
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/apps/devices/rdma-shared-device-plugin/configmap.yaml
  kubernetes/apps/devices/rdma-shared-device-plugin/daemonset.yaml
  kubernetes/apps/devices/rdma-shared-device-plugin/kustomization.yaml
  kubernetes/apps/inference/gpu-fabric-nad/kustomization.yaml
  kubernetes/apps/inference/gpu-fabric-nad/nad.yaml
  kubernetes/apps/inference/resource-claims/resourceclaimtemplates.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/leaderworkerset.yaml
  kubernetes/apps/inference/vllm-gpt-oss/deployment.yaml
  kubernetes/apps/networking/dranet/install.yaml
  kubernetes/apps/networking/dranet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/nvidia-dra-driver.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/rdma-shared-device-plugin.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/gpu-fabric-nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss-2node.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(devices): correct RDMA shared device plugin image tag to v1.5.3
  kubernetes/apps/devices/rdma-shared-device-plugin/daemonset.yaml
Due: validate-schema-alignment

fix(media): update store01 NFS PV to new IP 10.189.3.8
  kubernetes/clusters/fairy-k8s01/apps/media/vault01-store01.yaml
Due: validate-schema-alignment

feat(system-upgrade): update Talos target to v1.13.0-rc.0
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

chore(networking): add .migrated-to-ks marker for fairy networking namespace
  kubernetes/clusters/fairy-k8s01/apps/networking/.migrated-to-ks
Due: none

fix(home-automation): update scrypted and esphome to new home network IPs
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
Due: validate-schema-alignment

fix(networking): update device plugin resource name from squat.ai to devic.es
  kubernetes/apps/networking/tailscale-operator/proxyclass/pc-accept-routes.yaml
  kubernetes/apps/networking/tailscale-operator/proxyclass/pc-tun.yaml
  kubernetes/apps/networking/wireguard/helmrelease.yaml
Due: validate-schema-alignment

feat(networking): deploy Netdisco for network discovery
  kubernetes/apps/networking/netdisco/cluster.yaml
  kubernetes/apps/networking/netdisco/deployment.yaml
  kubernetes/apps/networking/netdisco/externalsecret.yaml
  kubernetes/apps/networking/netdisco/httproute.yaml
  kubernetes/apps/networking/netdisco/kustomization.yaml
  kubernetes/apps/networking/netdisco/pvc.yaml
  kubernetes/apps/networking/netdisco/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/netdisco.yaml
  kubernetes/clusters/fairy-k8s01/flux/netdisco.yaml
Due: validate-kustomizations, validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
