Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix(netflow): raise orchestrator memory for GeoLite2-City, add GOMEMLIMIT
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

fix(netflow): raise orchestrator memory for GeoLite2-City, add GOMEMLIMIT (#2228)
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
Due: validate-schema-alignment

feat(konflate): replace flux-local with konflate and flate
  .github/workflows/flux-local.yaml
  .github/workflows/flux-local.yaml.orig
  .github/workflows/image-pull-extract-pull.yaml
  .github/workflows/image-pull.yaml
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/httproute.yaml
  kubernetes/apps/flux/konflate/kustomization.yaml
  kubernetes/apps/flux/konflate/ocirepository.yaml
  kubernetes/clusters/atlantis-k8s01/flux/konflate.yaml
  kubernetes/clusters/fairy-k8s01/flux/konflate.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(konflate): replace flux-local with konflate and flate (#2229)
  .github/workflows/flux-local.yaml
  .github/workflows/flux-local.yaml.orig
  .github/workflows/image-pull-extract-pull.yaml
  .github/workflows/image-pull.yaml
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/httproute.yaml
  kubernetes/apps/flux/konflate/kustomization.yaml
  kubernetes/apps/flux/konflate/ocirepository.yaml
  kubernetes/clusters/atlantis-k8s01/flux/konflate.yaml
  kubernetes/clusters/fairy-k8s01/flux/konflate.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(ci): unbreak Image Pull and Schema Validation on main
  .github/workflows/image-pull-extract-pull.yaml
  kubernetes/apps/networking/netflow/akvorado/service-inlet.yaml
Due: validate-schema-alignment

fix(ci): allow missing source auth secrets in flate image extraction
  .github/workflows/image-pull-extract-pull.yaml
Due: none

fix(flux): pin namespace on the janet and hedgehog OCIRepositories
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
  kubernetes/apps/inference/janet/platform/ocirepository.yaml
Due: validate-schema-alignment

fix(ci): gate image extraction on render failures, not blocked deps
  .github/workflows/image-pull-extract-pull.yaml
Due: none

fix(ci): unbreak Image Pull and Schema Validation on main (#2232)
  .github/workflows/image-pull-extract-pull.yaml
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
  kubernetes/apps/inference/janet/platform/ocirepository.yaml
  kubernetes/apps/networking/netflow/akvorado/service-inlet.yaml
Due: validate-schema-alignment

fix(nautobot): give migrations headroom and stop rolling them back
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

fix(nautobot): give migrations headroom and stop rolling them back (#2234)
  kubernetes/apps/nautobot/app/helmrelease.yaml
Due: validate-schema-alignment

ci: treat underscore-prefixed app dirs as shared fragments, not namespaces
  .github/workflows/kustomization-completeness.yaml
Due: none

refactor(flux): give konflate a konflate-apps parent, declare cluster-info
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/konflate.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/konflate.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/konflate.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/konflate.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): inline real domains, cut k8s-cluster-secrets to one key
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/httproute.yaml
  kubernetes/apps/harvest/httproute.yaml
  kubernetes/apps/matrix/heisenbridge/externalsecret.yaml
  kubernetes/apps/matrix/heisenbridge/helmrelease.yaml
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
  kubernetes/apps/matrix/tuwunel/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/gateways/certificates.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/domains-externalsecrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/flux/apps.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): konflate-apps parent + inline real domains (#2233)
  .github/workflows/kustomization-completeness.yaml
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/httproute.yaml
  kubernetes/apps/harvest/httproute.yaml
  kubernetes/apps/matrix/heisenbridge/externalsecret.yaml
  kubernetes/apps/matrix/heisenbridge/helmrelease.yaml
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
  kubernetes/apps/matrix/tuwunel/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/gateways/certificates.yaml
  kubernetes/apps/networking/netflow/akvorado/helmrelease.yaml
  kubernetes/apps/networking/netflow/akvorado/oidc.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/konflate.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/domains-externalsecrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/konflate.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/konflate.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/apps.yaml
  kubernetes/clusters/fairy-k8s01/flux/konflate.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): codify the envoy-ai-gateway pointers on atlantis
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/envoy-ai-gateway.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/envoy-ai-gateway-system.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(zigbee): drop the dead ZIGBEE2MQTT_CONFIG_PERMIT_JOIN var
  kubernetes/apps/home-automation/zigbee/helmrelease.yaml
Due: validate-schema-alignment

fix(flux): codify the envoy-ai-gateway pointers on atlantis (#2235)
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/envoy-ai-gateway.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/envoy-ai-gateway-system.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(zigbee): drop the dead ZIGBEE2MQTT_CONFIG_PERMIT_JOIN var (#2236)
  kubernetes/apps/home-automation/zigbee/helmrelease.yaml
Due: validate-schema-alignment

fix(flux): restore CLUSTER_SVCS_DOMAIN until consumers inline it
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
Due: validate-schema-alignment

fix(flux): restore CLUSTER_SVCS_DOMAIN until consumers inline it (#2237)
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
Due: validate-schema-alignment

fix(cilium): stop a slow roll from rolling the CNI back onto itself
  kubernetes/apps/networking/cilium/app/helmrelease.yaml
Due: validate-schema-alignment

fix(cilium): stop a slow roll from rolling the CNI back onto itself (#2238)
  kubernetes/apps/networking/cilium/app/helmrelease.yaml
Due: validate-schema-alignment

feat(qwen): cache the checkpoint to node-local NVMe like minimax
  kubernetes/apps/inference/models/qwen36-35b-a3b/deployment.yaml
Due: validate-schema-alignment

fix(qwen): pin rclone 1.75.0 to match minimax
  kubernetes/apps/inference/models/qwen36-35b-a3b/deployment.yaml
Due: validate-schema-alignment

feat(qwen): cache the checkpoint to node-local NVMe like minimax (#2240)
  kubernetes/apps/inference/models/qwen36-35b-a3b/deployment.yaml
Due: validate-schema-alignment

fix(observability): collect logs and traces from the GPU nodes
  kubernetes/apps/observability/opentelemetry-collector/collector.yaml
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

fix(observability): collect logs and traces from the GPU nodes (#2242)
  kubernetes/apps/observability/opentelemetry-collector/collector.yaml
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

feat(konflate): enable inbound GitHub webhooks
  kubernetes/apps/flux/konflate/externalsecret.yaml
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(konflate): enable inbound GitHub webhooks (#2243)
  kubernetes/apps/flux/konflate/externalsecret.yaml
  kubernetes/apps/flux/konflate/helmrelease.yaml
  kubernetes/apps/flux/konflate/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(netdisco): run web and backend in one pod so the RWO volume works
  kubernetes/apps/networking/netdisco/deployment.yaml
  kubernetes/apps/networking/netdisco/service.yaml
Due: validate-schema-alignment

fix(netdisco): run web and backend in one pod so the RWO volume works (#2244)
  kubernetes/apps/networking/netdisco/deployment.yaml
  kubernetes/apps/networking/netdisco/service.yaml
Due: validate-schema-alignment

refactor(flux): declare k8s-cluster-info in fairy db + netdisco
  kubernetes/clusters/fairy-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): declare k8s-cluster-info per namespace on fairy
  kubernetes/clusters/fairy-k8s01/apps/actions-runner-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cloudflared/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/golink/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/harvest/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/tailscale/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): make cluster-info a Component, drop it from ghcr-pull
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/actions-runner-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cloudflared/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/golink/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/harvest/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/tailscale/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): declare k8s-cluster-info per namespace on fairy (#2245)
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/actions-runner-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cloudflared/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/golink/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/harvest/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/konflate/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/minecraft/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/netdisco/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/tailscale/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): restore Reflector as the fallback for k8s-cluster-info on fairy
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

docs(flux): trim the cluster-info comments back
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(flux): restore Reflector as the fallback for k8s-cluster-info on fairy (#2246)
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/k8s-cluster-info.yaml
  kubernetes/clusters/fairy-k8s01/apps/_shared/cluster-info/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(flux): declare k8s-cluster-info per namespace on atlantis
  kubernetes/clusters/atlantis-k8s01/apps/actions-runner-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cloudflared/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cnpg-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/democratic-csi/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/gateway-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/it-tools/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/nautobot/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/netflow/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/volsync-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment
