Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

chore(iua): hedgehog → main-20260612T053110Z-bedafac
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260614T060740Z-f3e1e37
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260614T063718Z-ffbbecd
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

feat(envoy-ai-gateway): install Envoy AI Gateway v0.7.0 on fairy
  kubernetes/apps/networking/envoy-ai-gateway/controller/helmrelease.yaml
  kubernetes/apps/networking/envoy-ai-gateway/controller/kustomization.yaml
  kubernetes/apps/networking/envoy-ai-gateway/controller/ocirepository.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/envoy-ai-gateway.yaml
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/envoy-ai-gateway-system.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(envoy-gateway): wire Envoy AI Gateway extension manager
  kubernetes/apps/networking/envoy-gateway/controller/helmrelease.yaml
Due: validate-schema-alignment

feat(ai-gateway): Anthropic backend chain on the internal AI gateway
  kubernetes/apps/inference/ai-gateway/externalsecret.yaml
  kubernetes/apps/inference/ai-gateway/gateway.yaml
  kubernetes/apps/inference/ai-gateway/kustomization.yaml
  kubernetes/apps/inference/ai-gateway/route.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-gateway.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  tofu/ai-gateway.tf
Due: validate-kustomizations, validate-schema-alignment

feat(ghcr-pull): cluster-wide opt-in GHCR image-pull secret on fairy
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/clusterexternalsecret.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/clustersecretstore.yaml
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/ghcr-pull.yaml
  tofu/ghcr-pull.tf
Due: validate-kustomizations, validate-schema-alignment

feat(janet): deploy janet-brain to fairy (keyless, in-memory)
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/externalsecret.yaml
  kubernetes/apps/janet/brain/httproute.yaml
  kubernetes/apps/janet/brain/kustomization.yaml
  kubernetes/apps/janet/brain/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/brain.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/janet.yaml
  tofu/janet.tf
  tofu/pocketid.tf
Due: validate-kustomizations, validate-schema-alignment

fix(janet): keep Google client id out of the public infra repo
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/externalsecret.yaml
  tofu/janet.tf
Due: validate-schema-alignment

refactor(janet): split Google vs Freckle ID secrets; tofu stores the client id
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/externalsecret.yaml
  tofu/janet.tf
Due: validate-schema-alignment

feat(janet): auto-reload janet-brain on secret change
  kubernetes/apps/janet/brain/deployment.yaml
Due: validate-schema-alignment

feat(janet): dedicated CNPG Postgres + rolling updates; wire brain to it
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/externalsecret.yaml
  kubernetes/apps/janet/db/app-role-externalsecret.yaml
  kubernetes/apps/janet/db/cluster.yaml
  kubernetes/apps/janet/db/database.yaml
  kubernetes/apps/janet/db/externalsecret.yaml
  kubernetes/apps/janet/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/db.yaml
  tofu/janet-db.tf
Due: validate-kustomizations, validate-schema-alignment

feat(janet): config-driven MCP servers via ConfigMap
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/kustomization.yaml
  kubernetes/apps/janet/brain/mcp-config.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(janet): open Google MCP to full Workspace (config-driven scopes)
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/mcp-config.yaml
Due: validate-schema-alignment

feat(janet-mcp): GitOps the Google Workspace MCP server
  kubernetes/apps/janet/mcp/deployment.yaml
  kubernetes/apps/janet/mcp/externalsecret.yaml
  kubernetes/apps/janet/mcp/kustomization.yaml
  kubernetes/apps/janet/mcp/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/mcp.yaml
  kubernetes/clusters/fairy-k8s01/flux/janet-mcp.yaml
  tofu/janet-mcp.tf
Due: validate-kustomizations, validate-schema-alignment

feat(janet): pre-app goose migration Job; brain depends on it
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/kustomization.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet/migrate.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(janet): bump migrate Job + brain to migrate-fix image
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(janet): persist sessions + encrypted vault; enc key from GSM
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/externalsecret.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
  tofu/janet.tf
Due: validate-schema-alignment

feat(janet): export brain traces to the cluster OTLP collector
  kubernetes/apps/janet/brain/deployment.yaml
Due: validate-schema-alignment

perf(janet): roll prompt-caching image main-20260617T035156Z-4b87551
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(janet): lazy tool loading — per-service capabilities + keywords
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(janet): scope MCP to calendar/gmail/drive; pin calendar+drive to core
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/mcp/deployment.yaml
Due: validate-schema-alignment

janet: §14.1 approval gate — gate writes + roll brain image
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/brain/mcp-config.yaml
Due: validate-schema-alignment

feat(harvest): deploy RSU dashboard to fairy at harvest.freckle.services
  kubernetes/apps/flux/image-automation/ghcr-login.externalsecret.yaml
  kubernetes/apps/flux/image-automation/imagepolicy-harvest.yaml
  kubernetes/apps/flux/image-automation/imagerepository-harvest.yaml
  kubernetes/apps/flux/image-automation/kustomization.yaml
  kubernetes/apps/harvest/deployment.yaml
  kubernetes/apps/harvest/httproute.yaml
  kubernetes/apps/harvest/kustomization.yaml
  kubernetes/apps/harvest/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/harvest/harvest.yaml
  kubernetes/clusters/fairy-k8s01/apps/harvest/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/flux/harvest.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(iua): harvest → ghcr.io/nicolerenee/harvest:main-20260622T224001Z-803a85e
  kubernetes/apps/harvest/deployment.yaml
Due: validate-schema-alignment

ci: mark migrated fairy apps to fix completeness check
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/harvest/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet/.migrated-to-ks
Due: none

ci: mark migrated fairy apps to fix completeness check (#1965)
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/harvest/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet/.migrated-to-ks
Due: none

ci: make completeness check flux-aware, drop migration markers
  .github/workflows/kustomization-completeness.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/.migrated-to-ks
  kubernetes/clusters/atlantis-k8s01/apps/matrix/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/cloudflared/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/harvest/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/inference/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/netdisco/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/networking/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/spegel/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/tailscale/.migrated-to-ks
Due: none

ci: make completeness check flux-aware, drop migration markers (#1966)
  .github/workflows/kustomization-completeness.yaml
  kubernetes/clusters/atlantis-k8s01/apps/homebox/.migrated-to-ks
  kubernetes/clusters/atlantis-k8s01/apps/matrix/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/cloudflared/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/envoy-ai-gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/envoy-gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/gateway-system/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/ghcr-pull/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/harvest/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/inference/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/janet/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/netdisco/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/networking/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/spegel/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/tailscale/.migrated-to-ks
Due: none

revert(homebox): pin back to 0.25.0-hardened
  kubernetes/apps/homebox/homebox/helmrelease.yaml
Due: validate-schema-alignment

revert(homebox): pin back to 0.25.0-hardened (0.26 needs API key pepper) (#1967)
  kubernetes/apps/homebox/homebox/helmrelease.yaml
Due: validate-schema-alignment

fix(otel): use telemetry metrics readers form for collector 0.154
  kubernetes/apps/observability/opentelemetry-collector/collector.yaml
Due: validate-schema-alignment

fix(gatus): pin --probe-paths=false on sidecar 0.3.5
  kubernetes/apps/observability/gatus/helmrelease.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T142306Z-7d36baf
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

fix(victoria-logs): guard audit-parser merge for Vector 0.56 VRL
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

fix(victoria-logs): guard audit-parser VRL merge for Vector 0.56 (#1969)
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

fix(victoria-logs): use merge! in audit-parser for Vector 0.56 VRL
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

fix(victoria-logs): merge! in audit-parser (Vector 0.56 still crash-loops) (#1970)
  kubernetes/apps/observability/victoria-logs/helmrelease.yaml
Due: validate-schema-alignment

chore(renovate): group cilium + prometheus-operator-crds across datasources
  .renovate/groups.json5
Due: none

chore(renovate): group cilium + prometheus-operator-crds into single PRs (#1971)
  .renovate/groups.json5
Due: none

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
