Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

fix config
  kubernetes/apps/storage/garage/app/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas-garage.yaml
  kubernetes/clusters/atlantis-k8s01/apps/garage/nas/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

add suffix to config map
  kubernetes/apps/storage/garage/app/helmrelease.yaml
Due: validate-schema-alignment

argh multitasking and not paying attention to what im doing isnt working
  kubernetes/apps/storage/garage/app/helmrelease.yaml
Due: validate-schema-alignment

lets try this again now
  kubernetes/apps/storage/garage/app/helmrelease.yaml
Due: validate-schema-alignment

switch to garage for cnpg backups
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-cluster.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-externalsecret.yaml
Due: validate-schema-alignment

move cnpg to the cnpg-system namespace and deploy barman cloud plugin
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/barman-plugin/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman-plugin/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/barman-plugin/ocirepository.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cnpg-system/barman-plugin.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cnpg-system/cloudnative-pg.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cnpg-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-cluster.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

add new ocirepo file
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

no oci signing because we cant have nice things
  kubernetes/apps/database/cloudnative-pg/barman-plugin/ocirepository.yaml
Due: validate-schema-alignment

switch pg-17a to use barman backups
  kubernetes/clusters/atlantis-k8s01/apps/db/cloudnative-pg.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/objectstore.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-cluster.yaml
Due: validate-kustomizations, validate-schema-alignment

fix s3 region for barman
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/objectstore.yaml
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-externalsecret.yaml
Due: validate-schema-alignment

quote region so it's always get
  kubernetes/clusters/atlantis-k8s01/apps/db/pg-clusters/pg-17a-externalsecret.yaml
Due: validate-schema-alignment

add chat domain
  kubernetes/clusters/atlantis-k8s01/apps/default/k8s-cluster-secrets.yaml
Due: validate-schema-alignment

deploy matrix
  kubernetes/apps/matrix/heisenbridge/externalsecret.yaml
  kubernetes/apps/matrix/heisenbridge/helmrelease.yaml
  kubernetes/apps/matrix/heisenbridge/kustomization.yaml
  kubernetes/apps/matrix/tuwunel/externalsecret.yaml
  kubernetes/apps/matrix/tuwunel/helmrelease.yaml
  kubernetes/apps/matrix/tuwunel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/heisenbridge.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/tuwunel.yaml
  kubernetes/clusters/atlantis-k8s01/flux/matrix.yaml
Due: validate-kustomizations, validate-schema-alignment

deploy hookshot
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
  kubernetes/apps/matrix/hookshot/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/matrix/hookshot.yaml
Due: validate-kustomizations, validate-schema-alignment

upgrade hookshot version
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
Due: validate-schema-alignment

update config file
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
Due: validate-schema-alignment

lets try this again
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
Due: validate-schema-alignment

computering is hard
  kubernetes/apps/matrix/hookshot/externalsecret.yaml
  kubernetes/apps/matrix/hookshot/helmrelease.yaml
Due: validate-schema-alignment

chore: cilium cleanup to not use bbr; qbt changes and split
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/apps/default-egress-policy.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/cnp-default-egress.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/cnp-vpn-sidecar.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/pvc-store01.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent-vpn-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/atlantis-k8s01/flux/downloaders.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: names to be shorter and remove duplicated suffix on pvc
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

cleanup
  kubernetes/clusters/tortuga-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/namespace.yaml
  kubernetes/clusters/tortuga-k8s01/apps/envoy-gateway-system/envoy-gateway.yaml
  kubernetes/clusters/tortuga-k8s01/apps/envoy-gateway-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/external-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/onepassword-connect.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-instance.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-operator.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/generic-device-plugin.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kubelet-csr-approver.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/metrics-server.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reflector.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reloader.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server/wg0.conf
  kubernetes/clusters/tortuga-k8s01/apps/wg/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/ks.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wg/wg-server.yaml
  kubernetes/clusters/tortuga-k8s01/flux/apps.yaml
Due: validate-kustomizations, validate-schema-alignment

fix svc to support v6
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix ipv6
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

ns patch
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/flux/downloaders.yaml
Due: validate-kustomizations, validate-schema-alignment

vxlan fun
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix network attachment
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

add bbr back; fairy to l3 networking; remove old ks.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix linting error
  README.md
Due: none

fix linting issue
  bootstrap/README.md
Due: none

cleanup
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/routers/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/routers/router.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-operator.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxyclass.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxygroup.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-routers.yaml
Due: validate-kustomizations, validate-schema-alignment

remove signing that's not working
  kubernetes/clusters/atlantis-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/fairy-k8s01/apps/default/app-template.yaml
Due: validate-schema-alignment

migrate nfx pvc to new l3 address
  kubernetes/clusters/fairy-k8s01/apps/media/vault01-store01.yaml
Due: validate-schema-alignment

change multus deployment
  kubernetes/apps/networking/multus/helmrelease.yaml
Due: validate-schema-alignment

chore: give gogwarts 10Gi storage
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
Due: validate-schema-alignment

Fix capitalization of Size in helmrelease.yaml
  kubernetes/apps/games/minecraft/servers/hogwarts/helmrelease.yaml
Due: validate-schema-alignment

fix: skip migrated directories in kustomization completeness check
  .github/workflows/kustomization-completeness.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/.migrated-to-ks
  kubernetes/clusters/atlantis-k8s01/apps/matrix/.migrated-to-ks
Due: none

chore: remove orphaned legacy files from downloaders
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/cnp-vpn-sidecar.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent-vpn-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbittorrent.yaml
Due: validate-schema-alignment

fix(flux): disable github-status notifications
  kubernetes/components/common/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(flux): expose webhook receiver via Tailscale Funnel
  kubernetes/apps/flux/instance/webhook/ingress.yaml
  kubernetes/apps/flux/instance/webhook/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(flux): remove HTTPRoute now that Funnel is working
  kubernetes/apps/flux/instance/webhook/httproute.yaml
  kubernetes/apps/flux/instance/webhook/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
