Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(tortuga): deploy tailscale operator
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-operator.yaml
  kubernetes/clusters/tortuga-k8s01/flux/tailscale.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): add k8s-cluster-info ConfigMap
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-info.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/flux/default.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): add k8s-cluster-secrets ExternalSecret
  kubernetes/clusters/tortuga-k8s01/apps/default/k8s-cluster-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/flux/default.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): add tailscale proxyclass and exit node connector
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/connectors/exit01.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/connectors/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-connectors.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxyclass.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): set privileged pod security on tailscale namespace
  kubernetes/clusters/tortuga-k8s01/flux/tailscale.yaml
Due: validate-schema-alignment

feat(tortuga): add tailscale ingress proxy group and mousehole
  kubernetes/apps/download-tools/mousehole/helmrelease.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/proxygroups/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/proxygroups/pg-ingress.yaml
  kubernetes/clusters/tortuga-k8s01/apps/tailscale/tailscale-proxygroup.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): add app-template OCIRepository to default namespace
  kubernetes/clusters/tortuga-k8s01/apps/default/app-template.yaml
  kubernetes/clusters/tortuga-k8s01/apps/default/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): add local-path-provisioner for persistent storage
  kubernetes/apps/storage/local-path-provisioner/helmrelease.yaml
  kubernetes/apps/storage/local-path-provisioner/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/local-path-provisioner.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(storage): use rancher's official OCI chart for local-path-provisioner
  kubernetes/apps/storage/local-path-provisioner/helmrelease.yaml
Due: validate-schema-alignment

fix(storage): use OCIRepository instead of HelmRepository
  kubernetes/apps/storage/local-path-provisioner/helmrelease.yaml
Due: validate-schema-alignment

fix(storage): use correct default node key for local-path-provisioner
  kubernetes/apps/storage/local-path-provisioner/helmrelease.yaml
Due: validate-schema-alignment

feat(tortuga): add local-path-provisioner user volume
  kubernetes/clusters/tortuga-k8s01/talos/patches/local-storage.yaml
  kubernetes/clusters/tortuga-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(tortuga): use minSize 1Gi with grow for local-path volume
  kubernetes/clusters/tortuga-k8s01/talos/patches/local-storage.yaml
Due: validate-schema-alignment

feat: add gluetun WireGuard secret generation script
  scripts/setup-gluetun-wireguard-secrets.sh
Due: none

feat(tortuga): add WireGuard gateway, CIDRGroups, and host firewall
  kubernetes/apps/networking/cilium/cidrgroups/externalsecret.yaml
  kubernetes/apps/networking/cilium/cidrgroups/kustomization.yaml
  kubernetes/apps/networking/cilium/cidrgroups/site-atlantis-public.yaml
  kubernetes/apps/networking/cilium/cidrgroups/site-fairy-public.yaml
  kubernetes/apps/networking/cilium/cidrgroups/site-tortuga-public.yaml
  kubernetes/apps/networking/wireguard-gateway/ccnp.yaml
  kubernetes/apps/networking/wireguard-gateway/externalsecret-vars.yaml
  kubernetes/apps/networking/wireguard-gateway/externalsecret.yaml
  kubernetes/apps/networking/wireguard-gateway/helmrelease.yaml
  kubernetes/apps/networking/wireguard-gateway/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium-cidrgroups.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium-host-firewall.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-icmp.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-talos-api.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway.yaml
Due: validate-kustomizations, validate-schema-alignment

fix: save listen_port to wg-server 1Password item in setup script
  scripts/setup-gluetun-wireguard-secrets.sh
Due: none

fix(tortuga): split ExternalSecrets out of postBuild Kustomizations
  kubernetes/apps/networking/cilium/cidrgroups/kustomization.yaml
  kubernetes/apps/networking/wireguard-gateway/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium-cidrgroups.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/site-public-ips.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/site-public-ips/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/site-public-ips/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): use op-cluster-vault ClusterSecretStore
  kubernetes/apps/networking/wireguard-gateway/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/site-public-ips/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars/externalsecret.yaml
Due: validate-schema-alignment

fix(tortuga): use inline postBuild substituteFrom for custom secrets
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium-cidrgroups.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway.yaml
Due: validate-schema-alignment

fix(tortuga): hardcode WireGuard port in CCNP to avoid type coercion
  kubernetes/apps/networking/wireguard-gateway/ccnp.yaml
Due: validate-schema-alignment

chore(tortuga): remove unused wireguard-gateway-vars
  kubernetes/clusters/tortuga-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway-vars/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/wireguard-gateway.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(tortuga): move wireguard-gateway to dedicated wireguard namespace
  kubernetes/clusters/tortuga-k8s01/apps/wireguard/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/wireguard/wireguard-gateway.yaml
  kubernetes/clusters/tortuga-k8s01/flux/wireguard.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): enable host firewall default deny
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-default-deny.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): consolidate host firewall into single base policy
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-base.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-default-deny.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-icmp.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): explicitly enable default deny in host base policy
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-base.yaml
Due: validate-schema-alignment

fix(tortuga): use empty nodeSelector for host CCNPs
  kubernetes/apps/networking/wireguard-gateway/ccnp.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-base.yaml
Due: validate-schema-alignment

feat(tortuga): allow k8s API (6443) from fairy and atlantis
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-base.yaml
Due: validate-schema-alignment

fix(tortuga): allow cluster entity to reach host unrestricted
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-base.yaml
Due: validate-schema-alignment

feat(tortuga): add Flux self-management via flux-operator and flux-instance
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-instance.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-operator.yaml
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/flux/flux-system.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(tortuga): add flux-system Namespace to flux-system.yaml
  kubernetes/clusters/tortuga-k8s01/flux/flux-system.yaml
Due: validate-schema-alignment

fix(tortuga): patch flux webhook ExternalSecret for op-cluster-vault
  kubernetes/clusters/tortuga-k8s01/apps/flux-system/flux-instance.yaml
Due: validate-schema-alignment

feat(flux): add proxy-group annotation to webhook funnel ingress
  kubernetes/apps/flux/instance/webhook/ingress.yaml
Due: validate-schema-alignment

feat(tortuga): add IPv6 and port forwarding to WireGuard gateway
  kubernetes/apps/networking/wireguard-gateway/externalsecret.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/ccnp-host-torrent-ports.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/host-firewall/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): restrict Cilium devices to ens3 only
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

fix(tortuga): set cilium operator to 1 replica with Recreate strategy
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

feat(atlantis): add gluetun VPN sidecar to qBittorrent instances
  kubernetes/apps/media/qbittorrent/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/cnp-qbt-egress.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/cilium-cidrgroups.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/site-public-ips.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/site-public-ips/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/site-public-ips/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/vxlan-vpn.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(qbittorrent): run gluetun as root for iptables access
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: validate-schema-alignment

fix(qbittorrent): request TUN device for gluetun container
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: validate-schema-alignment

fix(qbittorrent): allow cluster traffic and health checks through gluetun
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(qbittorrent): set DNS_ADDRESS to work around musl resolver issue
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/cnp-qbt-egress.yaml
Due: validate-schema-alignment
