Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(secrets): per-consumer Cloudflare API tokens via tofu + ESO+WIF
  kubernetes/apps/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/networking/external-dns/cloudflare-tunnel/externalsecret.yaml
  kubernetes/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cert-manager/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-dns/cloudflare.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-dns/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/external-dns/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/cert-manager/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/cert-manager/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-dns/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/external-dns/kustomization.yaml
  tofu/.terraform.lock.hcl
  tofu/cloudflare-tokens.tf
  tofu/cloudflare-zones.tf
  tofu/versions.tf
Due: validate-kustomizations, validate-schema-alignment

chore(iua): hedgehog → main-20260517T024202Z-8ea9df1
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T030040Z-0b27379
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

feat(tofu): manage cluster apiserver DNS records + atlantis WIF talos config
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  tofu/cluster-endpoints.tf
Due: validate-schema-alignment

fix(wif): auto-discover tailnet kubectl context, don't hardcode admin@
  .taskfiles/wif/taskfile.yaml
Due: none

feat(flux): move github-app credential to GSM, source via ESO+WIF
  kubernetes/apps/flux/instance/github-app-externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/flux-system/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/flux-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/flux-system/kustomization.yaml
  tofu/flux-github-app.tf
Due: validate-kustomizations, validate-schema-alignment

chore(tofu): track atlantis-k8s01 WIF bootstrap artifacts
  tofu/clusters.auto.tfvars.json
  tofu/jwks/atlantis-k8s01/.well-known/openid-configuration
  tofu/jwks/atlantis-k8s01/openid/v1/jwks
Due: none

feat(pocketid): manage OIDC clients via tofu, source creds from GSM
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/external-secrets.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/external-secrets.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/grafana-instance.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/kustomization.yaml
  tofu/.terraform.lock.hcl
  tofu/pocketid.tf
  tofu/versions.tf
Due: validate-kustomizations, validate-schema-alignment

fix(pocketid): drop endsWith condition from observability IAM grant
  tofu/pocketid.tf
Due: none

feat(grafana): wire Reloader on the operator-managed deployment
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Due: validate-schema-alignment

chore(hedgehog): bump CNPG cluster to 3 instances for HA
  kubernetes/apps/hedgehog/db/cluster.yaml
Due: validate-schema-alignment

chore(fairy/pg-17a): bump CNPG cluster to 3 instances for HA
  kubernetes/clusters/fairy-k8s01/apps/db/pg-clusters/pg-17a-cluster.yaml
Due: validate-schema-alignment

refactor(tofu): introduce eso-namespace + gsm-secret modules (Phase 1)
  tofu/cloudflare-tunnel.tf
  tofu/modules/eso-namespace/main.tf
  tofu/modules/eso-namespace/outputs.tf
  tofu/modules/eso-namespace/variables.tf
  tofu/modules/gsm-secret/main.tf
  tofu/modules/gsm-secret/outputs.tf
  tofu/modules/gsm-secret/variables.tf
Due: none

refactor(tofu): drop dead namespace_bindings + iam.tf (Phase 2)
  tofu/iam.tf
  tofu/locals.tf
Due: none

chore(iua): hedgehog → main-20260517T043249Z-d105210
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

refactor(tofu): migrate CF token IAM + GSM to modules (Phase 3)
  tofu/cloudflare-tokens.tf
Due: none

refactor(tofu): migrate pocket-id OIDC IAM + GSM to modules (Phase 4)
  tofu/pocketid.tf
Due: none

refactor(tofu): centralize cluster topology, parameterize CF tunnel (Phase 5)
  tofu/cloudflare-tunnel.tf
  tofu/cluster-endpoints.tf
  tofu/locals.tf
Due: none

chore(iua): hedgehog → main-20260517T044256Z-f7ffa5f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

refactor(tofu): collapse cf_token_scopes + cf_token_consumers (Phase 6)
  tofu/cloudflare-tokens.tf
Due: none

chore(tofu): stamp tofu-managed DNS records with Managed-by comment
  tofu/cloudflare-tunnel.tf
  tofu/cluster-endpoints.tf
Due: none

chore(iua): hedgehog → main-20260517T051926Z-6f29a37
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T052444Z-8939d00
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

fix(pocketid): sort allowed_user_groups to match pocket-id API ordering
  tofu/pocketid.tf
Due: none

chore(iua): hedgehog → main-20260517T053058Z-2434fb5
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T063628Z-b670781
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T072807Z-912d54f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(hedgehog): point manifests source at freckleapps org
  kubernetes/apps/hedgehog/platform/imagerepository.yaml
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T074641Z-927ec9f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T075824Z-4741f08
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T080202Z-0f97c7f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T081009Z-ee824eb
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T083846Z-d172c7f
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T085124Z-8a49d5a
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T095052Z-a31c2a8
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T103700Z-c9cf9e3
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T112704Z-6836553
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T120845Z-08b8aa9
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T174451Z-f31d38e
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260517T181739Z-6fe1e47
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment
