Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(fairy/talos): migrate to topf and the Talos 1.14 multi-doc config, add dgx04-07
  .gitignore
  .taskfiles/talos/resources/topf-secrets-provider
  .taskfiles/talos/taskfile.yaml
  kubernetes/apps/descheduler/helmrelease.yaml
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/fairy-k8s01/talos/all/01-cluster.yaml
  kubernetes/clusters/fairy-k8s01/talos/all/05-hostname.yaml.tpl
  kubernetes/clusters/fairy-k8s01/talos/all/10-machine.yaml
  kubernetes/clusters/fairy-k8s01/talos/all/20-watchdog.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/01-cluster.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/10-install.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/11-tpm-encryption.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/12-bridge-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/20-node.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/30-lldpd.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/40-network.yaml.tpl
  kubernetes/clusters/fairy-k8s01/talos/patches/audit-policy.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/nvidia-runtime.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/tpm-encryption.yaml
  kubernetes/clusters/fairy-k8s01/talos/schematics/cn.yaml
  kubernetes/clusters/fairy-k8s01/talos/schematics/dgx.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/01-security-profile.yaml.tpl
  kubernetes/clusters/fairy-k8s01/talos/worker/10-install.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/11-nvidia-runtime.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/12-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/20-node.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/30-lldpd.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/40-network.yaml.tpl
Due: validate-schema-alignment

feat(fairy/talos): enable workload isolation on dgx01-03
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

feat(fairy): bring the vms namespace (lutron-designer VM, multus-vm-trusted) under Flux
  kubernetes/apps/vms/lutron-designer/kustomization.yaml
  kubernetes/apps/vms/lutron-designer/vm.yaml
  kubernetes/apps/vms/multus-vm-trusted/kustomization.yaml
  kubernetes/apps/vms/multus-vm-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/vms/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/vms/lutron-designer.yaml
  kubernetes/clusters/fairy-k8s01/apps/vms/multus-vm-trusted.yaml
  kubernetes/clusters/fairy-k8s01/flux/vms.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(fairy/talos): dgx01-03 take their address by DHCP like the newer sparks
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

feat(fairy/talos): bare short hostnames for every node
  .taskfiles/talos/taskfile.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

fix(fwupd): remount efivarfs rw and refresh LVFS so Spark firmware actually flashes on Talos
  .taskfiles/k8s/taskfile.yaml
  docs/runbooks/firmware-upgrades.md
Due: none

fix(fwupd): remount efivarfs rw and refresh LVFS so Spark firmware actually flashes on Talos (#2491)
  .taskfiles/k8s/taskfile.yaml
  docs/runbooks/firmware-upgrades.md
Due: none

docs(compute): complete the BIOS baseline table from the cn02 reference
  docs/compute/freckle-node.md
Due: none

docs(compute): X14SAZ BIOS/BMC baseline and Secure Boot enrollment
  docs/compute/freckle-node.md
Due: none

docs(compute): boot order in the BIOS baseline
  docs/compute/freckle-node.md
Due: none

docs(compute): current node names in the Gen 3.1 status
  docs/compute/freckle-node.md
Due: none

docs(compute): X14SAZ BIOS/BMC baseline and Secure Boot enrollment (#2458)
  docs/compute/freckle-node.md
Due: none

feat(atlantis/talos): migrate to topf and the Talos 1.14 multi-doc config
  kubernetes/clusters/atlantis-k8s01/talos/all/01-cluster.yaml
  kubernetes/clusters/atlantis-k8s01/talos/all/05-hostname.yaml.tpl
  kubernetes/clusters/atlantis-k8s01/talos/all/10-machine.yaml
  kubernetes/clusters/atlantis-k8s01/talos/all/20-watchdog.yaml
  kubernetes/clusters/atlantis-k8s01/talos/all/30-lldpd.yaml
  kubernetes/clusters/atlantis-k8s01/talos/all/40-network.yaml.tpl
  kubernetes/clusters/atlantis-k8s01/talos/control-plane/01-cluster.yaml
  kubernetes/clusters/atlantis-k8s01/talos/control-plane/40-vip.yaml
  kubernetes/clusters/atlantis-k8s01/talos/schematics/compute.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/atlantis-k8s01/talos/topf.yaml
  kubernetes/clusters/atlantis-k8s01/talos/worker/.gitkeep
Due: validate-schema-alignment

chore(renovate): keep mariadb on the 12.x LTS line
  .renovaterc.json5
Due: none

fix(dragonfly): pin spec.image on both Dragonfly CRs
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
  kubernetes/apps/nautobot/queue/dragonfly.yaml
Due: validate-schema-alignment

feat(fairy/talos): layer-2 control-plane VIP 10.189.3.15 on the cn bond
  kubernetes/clusters/fairy-k8s01/talos/control-plane/01-cluster.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/40-vip.yaml
Due: validate-schema-alignment

feat(fairy/talos): cluster endpoint is k8s01-api.btx01.freckle.systems (the control-plane VIP)
  kubernetes/clusters/fairy-k8s01/talos/control-plane/01-cluster.yaml
  kubernetes/clusters/fairy-k8s01/talos/control-plane/02-service-account.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

chore(renovate): keep mariadb on the 12.x LTS line (#2493)
  .renovaterc.json5
Due: none

fix(snapshot-controller): keep the VolumeSnapshot CRDs on uninstall
  kubernetes/apps/storage/snapshot-controller/helmrelease.yaml
Due: validate-schema-alignment

fix(dragonfly): pin spec.image on both Dragonfly CRs (#2494)
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
  kubernetes/apps/nautobot/queue/dragonfly.yaml
Due: validate-schema-alignment

fix(snapshot-controller): keep the VolumeSnapshot CRDs on uninstall (#2496)
  kubernetes/apps/storage/snapshot-controller/helmrelease.yaml
Due: validate-schema-alignment

fix(fairy/talos): iommu=pt on the cn nodes and enable workload isolation
  kubernetes/clusters/fairy-k8s01/talos/control-plane/01-security-profile.yaml.tpl
  kubernetes/clusters/fairy-k8s01/talos/schematics/cn.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

fix(fairy/talos): iommu=pt on the cn nodes and enable workload isolation (#2499)
  kubernetes/clusters/fairy-k8s01/talos/control-plane/01-security-profile.yaml.tpl
  kubernetes/clusters/fairy-k8s01/talos/schematics/cn.yaml
  kubernetes/clusters/fairy-k8s01/talos/topf.yaml
Due: validate-schema-alignment

chore(home-automation): remove rtl-mqtt-autodiscovery from fairy
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/externalsecret.yaml
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/helmrelease.yaml
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/rtl-mqtt-autodiscovery.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(home-automation): remove rtl-mqtt-autodiscovery from fairy (#2500)
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/externalsecret.yaml
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/helmrelease.yaml
  kubernetes/apps/home-automation/rtl-mqtt-autodiscovery/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/rtl-mqtt-autodiscovery.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(mosquitto): drop the rtl-autodiscovery and zwavejs broker users
  kubernetes/apps/home-automation/mosquitto/externalsecret.yaml
Due: validate-schema-alignment

chore(mosquitto): drop the rtl-autodiscovery and zwavejs broker users (#2501)
  kubernetes/apps/home-automation/mosquitto/externalsecret.yaml
Due: validate-schema-alignment

feat(fairy/talos): pci=pcie_bus_safe and fabric sysctls for the sparks
  kubernetes/clusters/fairy-k8s01/talos/schematics/dgx.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/12-sysctls.yaml
Due: validate-schema-alignment

feat(fairy/talos): pci=pcie_bus_safe and fabric sysctls for the sparks (#2502)
  kubernetes/clusters/fairy-k8s01/talos/schematics/dgx.yaml
  kubernetes/clusters/fairy-k8s01/talos/worker/12-sysctls.yaml
Due: validate-schema-alignment

fix(tuppr): suspend the Talos upgrade from git, and suspend it on fairy
  kubernetes/apps/system-upgrade/plans/talos.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

fix(tuppr): suspend the Talos upgrade from git, and suspend it on fairy (#2504)
  kubernetes/apps/system-upgrade/plans/talos.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

chore(tuppr): resume the fairy Talos upgrade controller
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

chore(tuppr): resume the fairy Talos upgrade controller (#2505)
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

fix(tuppr): drop the substituted suspend annotation
  kubernetes/apps/system-upgrade/plans/talos.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

fix(tuppr): drop the substituted suspend annotation (#2506)
  kubernetes/apps/system-upgrade/plans/talos.yaml
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

fix(atlantis/talos): iommu=pt on the compute nodes before Talos v1.14.2
  kubernetes/clusters/atlantis-k8s01/talos/schematics/compute.yaml
Due: validate-schema-alignment

fix(atlantis/talos): iommu=pt on the compute nodes before Talos v1.14.2 (#2508)
  kubernetes/clusters/atlantis-k8s01/talos/schematics/compute.yaml
Due: validate-schema-alignment

fix(observability): restore Spark node metrics and the DGX dashboard
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
  kubernetes/dashboards/gpu/dgx-spark.yaml
Due: validate-schema-alignment

chore(fairy/silences): silence the parked even Sparks until the weekend
  kubernetes/clusters/fairy-k8s01/apps/observability/silences/even-sparks-parked.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/silences/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/silences/r02-jumbo-mtu.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(fairy/scrypted): scratch-only /nvr, drop the store01 and ceph NVR volumes
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/silences/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/silences/scrypted.yaml
Due: validate-kustomizations, validate-schema-alignment
