Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

validate-kustomizations:
  name: Validate Kustomization files
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

validate-schema-alignment:
  name: Validate schema/apiVersion alignment
  entry: python3 scripts/validate-schema-alignment.py
  language: system
  pass_filenames: false

feat(fairy): add NVIDIA GPU taint to DGX nodes
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(gpu-operator): correct NFD worker affinity values path
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(gpu-operator): remove common component to prevent namespace conflict
  kubernetes/clusters/fairy-k8s01/apps/gpu-operator/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(gpu-operator): disable operator validator
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(gpu-operator): use nonfree drivers and patched operator for DGX Spark
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

chore(talos): improve task caching for generate task
  .taskfiles/talos/taskfile.yaml
Due: none

fix(kubelet-csr-approver): allow all nodes
  kubernetes/apps/kubelet-csr-approver/values.yaml
Due: validate-schema-alignment

feat(nfd): consolidate to single NFD deployment
  kubernetes/apps/devices/node-feature-discovery/controller/helmrelease.yaml
  kubernetes/apps/gpu-operator/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

fix(nfd): add toleration for NVIDIA GPU taint
  kubernetes/apps/devices/node-feature-discovery/controller/helmrelease.yaml
Due: validate-schema-alignment

feat(inference): add vLLM deployment for gpt-oss-120b on DGX Spark
  kubernetes/apps/inference/vllm-gpt-oss/externalsecret.yaml
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
  kubernetes/apps/inference/vllm-gpt-oss/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss.yaml
  kubernetes/clusters/fairy-k8s01/flux/inference.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(inference): correct node selector hostname for dgx03
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

fix(inference): use NFS PVC for model cache storage
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/nfs-models.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(inference): remove spark-vllm-docker specific flags and increase timeout
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

feat(inference): add task to download HuggingFace models
  .taskfiles/inference/taskfile.yaml
  Taskfile.yaml
Due: none

fix(inference): switch to NVIDIA vLLM image and fix compatibility
  .taskfiles/inference/taskfile.yaml
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

feat(storage): add CephFS model storage and CSI GPU toleration
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/models-pvc.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(inference): switch model storage from NFS to CephFS
  .taskfiles/inference/taskfile.yaml
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/nfs-models.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(inference): increase Flux Kustomization timeout to 30m
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss.yaml
Due: validate-schema-alignment

fix(flux): set wait=false on parent namespace Kustomizations
  kubernetes/clusters/atlantis-k8s01/flux/downloaders.yaml
  kubernetes/clusters/atlantis-k8s01/flux/homebox.yaml
  kubernetes/clusters/atlantis-k8s01/flux/matrix.yaml
  kubernetes/clusters/atlantis-k8s01/flux/snipe-it.yaml
  kubernetes/clusters/fairy-k8s01/flux/gpu-operator.yaml
  kubernetes/clusters/fairy-k8s01/flux/inference.yaml
Due: validate-schema-alignment

feat(inference): add rclone init container to cache models on local NVMe
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

fix(inference): add --inplace to rclone and reduce transfers to 4
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

fix(inference): add --partial to rclone for resumable file transfers
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

fix(inference): switch init container from rclone to rsync
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

fix(inference): use rsync --append-verify for true file resume
  kubernetes/apps/inference/vllm-gpt-oss/helmrelease.yaml
Due: validate-schema-alignment

feat(inference): deploy LiteLLM proxy with Dragonfly cache
  kubernetes/apps/database/dragonfly-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly-operator/app/kustomization.yaml
  kubernetes/apps/database/dragonfly-operator/app/ocirepository.yaml
  kubernetes/apps/inference/litellm/cnp.yaml
  kubernetes/apps/inference/litellm/dragonfly.yaml
  kubernetes/apps/inference/litellm/externalsecret.yaml
  kubernetes/apps/inference/litellm/helmrelease.yaml
  kubernetes/apps/inference/litellm/kustomization.yaml
  kubernetes/apps/inference/vllm-gpt-oss/cnp.yaml
  kubernetes/clusters/fairy-k8s01/apps/db/dragonfly-operator.yaml
  kubernetes/clusters/fairy-k8s01/apps/db/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/litellm.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(inference): use port 80 for litellm service
  kubernetes/apps/inference/litellm/helmrelease.yaml
Due: validate-schema-alignment

feat(auth): deploy pocket-id to atlantis-k8s01 freckle-id namespace
  kubernetes/apps/auth/pocket-id/externalsecret.yaml
  kubernetes/apps/auth/pocket-id/helmrelease.yaml
  kubernetes/apps/auth/pocket-id/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/freckle-id/pocket-id.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(spegel): deploy Spegel P2P image cache to fairy-k8s01
  kubernetes/clusters/fairy-k8s01/apps/inference/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/spegel/.migrated-to-ks
  kubernetes/clusters/fairy-k8s01/apps/spegel/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/spegel/spegel.yaml
  kubernetes/clusters/fairy-k8s01/flux/spegel.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(descheduler): evict completed pods after 3 days
  kubernetes/apps/descheduler/helmrelease.yaml
Due: validate-schema-alignment

feat(renovate): group barman cloud plugin updates together
  .renovate/groups.json5
Due: none

feat(taskfile): add k8s taskfile
  .taskfiles/k8s/taskfile.yaml
  Taskfile.yaml
Due: none

feat(taskfile): add ceph-toolbox task for rook-ceph toolbox exec
  .taskfiles/k8s/taskfile.yaml
Due: none

feat(docs): add infrastructure documentation site with Zensical
  .github/workflows/docs.yaml
  docs/CNAME
  docs/compute/dgx-spark.md
  docs/compute/freckle-compute-nodes.md
  docs/index.md
  docs/networking/att-802.1x-bypass.md
  docs/networking/fairy-network-topology.svg
  docs/networking/fairy-network.md
  docs/sites/fairy/index.md
  docs/sites/fairy/rack-mdf.svg
  docs/sites/fairy/rack-r02.svg
  docs/storage/truenas-store01.md
  zensical.toml
Due: none

feat(docs): add guides, reference pages, and section indexes
  docs/compute/dgx-spark.md
  docs/compute/index.md
  docs/glossary.md
  docs/guides/att-802.1x-bypass.md
  docs/guides/firmware-upgrades.md
  docs/guides/index.md
  docs/index.md
  docs/naming-conventions.md
  docs/networking/index.md
  docs/sites/fairy/index.md
  docs/sites/index.md
  docs/storage/index.md
  docs/storage/truenas-store01.md
Due: none

feat(docs): add llms.txt and llms-full.txt generation
  .github/workflows/docs.yaml
  scripts/generate-llms-txt.py
Due: none

fix(docs): add markdownlint config and fix lint errors
  .markdownlint.yaml
  docs/guides/att-802.1x-bypass.md
  docs/naming-conventions.md
Due: none

fix(docs): correct DGX node names in firmware upgrade guide
  docs/guides/firmware-upgrades.md
Due: none

refactor(docs): move firmware upgrades to runbooks section
  docs/guides/index.md
  docs/index.md
  docs/runbooks/firmware-upgrades.md
  docs/runbooks/index.md
  docs/sites/fairy/index.md
  scripts/generate-llms-txt.py
Due: none

docs(runbooks): remove stock DGX OS alternative from firmware guide
  docs/runbooks/firmware-upgrades.md
Due: none

refactor(naming): add site prefix to all device names
  docs/compute/dgx-spark.md
  docs/glossary.md
  docs/guides/firmware-upgrades.md
  docs/naming-conventions.md
  docs/networking/fairy-network-topology.svg
  docs/networking/fairy-network.md
  docs/runbooks/firmware-upgrades.md
  docs/sites/fairy/index.md
  docs/sites/fairy/rack-mdf.svg
  docs/sites/fairy/rack-r02.svg
  docs/storage/index.md
  docs/storage/truenas-store01.md
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

Path conditions:
  validate-kustomizations: any of: kubernetes/.*kustomization\.ya?ml$
  validate-schema-alignment: any of: kubernetes/.*\.ya?ml$
