Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260624T184102Z-49381b9
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260624T195652Z-1de2d2a
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260624T202441Z-05deaf2
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(janet): set JANET_GOOGLE_NATIVE_RETURN for native Mac app deep-link
  kubernetes/apps/janet/brain/deployment.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260624T205914Z-49b0a51
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(janet): add self-hosted Jina Reader web-fetch capability
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/jina-reader/kustomization.yaml
  kubernetes/apps/janet/jina-reader/mcp-configmap.yaml
  kubernetes/apps/janet/jina-reader/mcp-deployment.yaml
  kubernetes/apps/janet/jina-reader/mcp-service.yaml
  kubernetes/apps/janet/jina-reader/reader-cnp.yaml
  kubernetes/apps/janet/jina-reader/reader-deployment.yaml
  kubernetes/apps/janet/jina-reader/reader-service.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/jina-reader.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260624T234730Z-f64f883
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

refactor(janet): drop FastMCP shim, call Jina Reader via native http tool
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/jina-reader/kustomization.yaml
  kubernetes/apps/janet/jina-reader/mcp-configmap.yaml
  kubernetes/apps/janet/jina-reader/mcp-deployment.yaml
  kubernetes/apps/janet/jina-reader/mcp-service.yaml
  kubernetes/apps/janet/jina-reader/reader-deployment.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(janet): lock down janet-brain egress with a CiliumNetworkPolicy
  kubernetes/apps/janet/brain/cnp-egress.yaml
  kubernetes/apps/janet/brain/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(janet): scope brain egress gateway rule to the inference namespace
  kubernetes/apps/janet/brain/cnp-egress.yaml
Due: validate-schema-alignment

fix(janet): correct brain egress OTEL collector label selector
  kubernetes/apps/janet/brain/cnp-egress.yaml
Due: validate-schema-alignment

fix(janet): scope jina-reader egress to 80/443, blocking Chrome GCM phone-home
  kubernetes/apps/janet/jina-reader/reader-cnp.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260625T013750Z-3281cf1
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260626T062642Z-97f890e
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260626T173732Z-c5c847b
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260626T180454Z-4de09d4
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260627T001142Z-f8d6b5e
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

fix(jina-reader): raise memory limit and add second replica
  kubernetes/apps/janet/jina-reader/reader-deployment.yaml
Due: validate-schema-alignment

fix(gpu-operator): drop patched operator image pin
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

chore(media): remove qbt-reel-cleanup
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/cronjob.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(media): remove qbt-reel-cleanup (#2033)
  kubernetes/clusters/atlantis-k8s01/apps/media/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/cronjob.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/externalsecret.yaml
  kubernetes/clusters/atlantis-k8s01/apps/media/qbt-reel-cleanup/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(tofu): backport janet pocketid client to freckle.services domain
  tofu/pocketid.tf
Due: none

feat(janet): add Yahoo Finance MCP server (zero-instruction stock quotes)
  .gitignore
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/cnp.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/deployment.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/kustomization.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/service.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/src/Dockerfile
  kubernetes/apps/janet/yahoo-finance-mcp/src/http_entrypoint.py
  kubernetes/apps/janet/yahoo-finance-mcp/src/pyproject.toml
  kubernetes/apps/janet/yahoo-finance-mcp/src/server.py
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/yahoo-finance-mcp.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(yahoo-finance-mcp): move image build to nicolerenee/containers
  .gitignore
  kubernetes/apps/janet/yahoo-finance-mcp/deployment.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/src/Dockerfile
  kubernetes/apps/janet/yahoo-finance-mcp/src/http_entrypoint.py
  kubernetes/apps/janet/yahoo-finance-mcp/src/pyproject.toml
  kubernetes/apps/janet/yahoo-finance-mcp/src/server.py
Due: validate-schema-alignment

feat(yahoo-finance-mcp): pin image to released digest
  kubernetes/apps/janet/yahoo-finance-mcp/deployment.yaml
Due: validate-schema-alignment

chore(yahoo-finance-mcp): drop specific holdings from stock keywords
  kubernetes/apps/janet/brain/mcp-config.yaml
Due: validate-schema-alignment

feat(janet): Yahoo Finance MCP server (zero-instruction stock quotes) (#2037)
  kubernetes/apps/janet/brain/mcp-config.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/cnp.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/deployment.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/kustomization.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/janet-mcp/yahoo-finance-mcp.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(yahoo-finance-mcp): allow ISIN egress + fix yfinance cache dir
  kubernetes/apps/janet/yahoo-finance-mcp/cnp.yaml
  kubernetes/apps/janet/yahoo-finance-mcp/deployment.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260703T001647Z-94379fa
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260703T005036Z-571447d
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260703T011407Z-f500755
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/apps/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

feat(hedgehog): deploy shared jina-reader to hedgehog namespace
  kubernetes/apps/janet/jina-reader/reader-cnp.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/jina-reader.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(hedgehog): deploy shared jina-reader to hedgehog namespace (#2039)
  kubernetes/apps/janet/jina-reader/reader-cnp.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/jina-reader.yaml
  kubernetes/clusters/atlantis-k8s01/apps/hedgehog/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(inference): group model servers under models/, infra under platform/
  kubernetes/apps/inference/models/qwen36-35b-a3b/cnp.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/deployment.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/kustomization.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/service.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/leaderworkerset.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/ingress.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/leaderworkerset.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/cnp.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/deployment.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/vmservicescrape.yaml
  kubernetes/apps/inference/platform/ai-gateway/externalsecret.yaml
  kubernetes/apps/inference/platform/ai-gateway/gateway.yaml
  kubernetes/apps/inference/platform/ai-gateway/kustomization.yaml
  kubernetes/apps/inference/platform/ai-gateway/route.yaml
  kubernetes/apps/inference/platform/huggingface/externalsecret.yaml
  kubernetes/apps/inference/platform/huggingface/kustomization.yaml
  kubernetes/apps/inference/platform/leader-worker-set/helmrelease.yaml
  kubernetes/apps/inference/platform/leader-worker-set/kustomization.yaml
  kubernetes/apps/inference/platform/resource-claims/kustomization.yaml
  kubernetes/apps/inference/platform/resource-claims/resourceclaimtemplates.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-gateway.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/huggingface.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/leader-worker-set.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/qwen36-35b-a3b.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/resource-claims.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss-2node.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(inference): group model servers under models/, infra under platform/ (#2041)
  kubernetes/apps/inference/models/qwen36-35b-a3b/cnp.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/deployment.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/kustomization.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/service.yaml
  kubernetes/apps/inference/models/qwen36-35b-a3b/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/leaderworkerset.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node-base/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/ingress.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/leaderworkerset.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss-2node/vmservicescrape.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/cnp.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/deployment.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/kustomization.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/service.yaml
  kubernetes/apps/inference/models/vllm-gpt-oss/vmservicescrape.yaml
  kubernetes/apps/inference/platform/ai-gateway/externalsecret.yaml
  kubernetes/apps/inference/platform/ai-gateway/gateway.yaml
  kubernetes/apps/inference/platform/ai-gateway/kustomization.yaml
  kubernetes/apps/inference/platform/ai-gateway/route.yaml
  kubernetes/apps/inference/platform/huggingface/externalsecret.yaml
  kubernetes/apps/inference/platform/huggingface/kustomization.yaml
  kubernetes/apps/inference/platform/leader-worker-set/helmrelease.yaml
  kubernetes/apps/inference/platform/leader-worker-set/kustomization.yaml
  kubernetes/apps/inference/platform/resource-claims/kustomization.yaml
  kubernetes/apps/inference/platform/resource-claims/resourceclaimtemplates.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-gateway.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/huggingface.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/leader-worker-set.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/qwen36-35b-a3b.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/resource-claims.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss-2node.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/vllm-gpt-oss.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(iua): janet-brain → ghcr.io/freckleapps/janet-brain:main-20260703T045108Z-c8923b8
  kubernetes/apps/inference/janet/brain/deployment.yaml
  kubernetes/apps/inference/janet/migrate/migrate-job.yaml
Due: validate-schema-alignment

chore(networking): remove dead cilium-gateway-config pointer
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium-gw-config.yaml
Due: validate-schema-alignment

chore(networking): remove dead cilium-gateway-config pointer (#2043)
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium-gw-config.yaml
Due: validate-schema-alignment
