Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(renovate): group mariadb-operator and victoria-metrics stack with their CRDs
  .renovate/groups.json5
Due: none

chore(renovate): group mariadb + victoria-metrics operators with their CRDs (#1972)
  .renovate/groups.json5
Due: none

feat(homebox): wire HBOX_AUTH_API_KEY_PEPPER from 1Password
  kubernetes/apps/homebox/homebox/externalsecret.yaml
Due: validate-schema-alignment

feat(homebox): wire HBOX_AUTH_API_KEY_PEPPER for 0.26 upgrade (#1974)
  kubernetes/apps/homebox/homebox/externalsecret.yaml
Due: validate-schema-alignment

fix(intel-gpu): pin manageBinding off for 0.11 (iGPU-only)
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

feat(mariadb): set autoUpdateDataPlane before operator 26.6 upgrade
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
Due: validate-schema-alignment

feat(mariadb): set autoUpdateDataPlane (prereq for operator 26.6) (#1975)
  kubernetes/clusters/atlantis-k8s01/apps/db/mariadb-clusters/mariadb-main.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T155830Z-9d4555c
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

fix(hedgehog): pin Dragonfly to v1.37.0 (v1.39 fails snapshot load)
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
Due: validate-schema-alignment

fix(hedgehog): pin Dragonfly v1.37.0 (v1.39 can't load snapshot) (#1976)
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
Due: validate-schema-alignment

chore(hedgehog): unpin Dragonfly image, follow operator default
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
Due: validate-schema-alignment

chore(hedgehog): unpin Dragonfly image (follow operator default) (#1978)
  kubernetes/apps/hedgehog/queue/dragonfly.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T172552Z-9e5d37e
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T181427Z-6814353
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

feat(rook): add ceph-csi-drivers HelmRelease for v1.20
  kubernetes/apps/storage/rook-ceph/csi-drivers/helmrelease.yaml
Due: validate-schema-alignment

feat(rook): csi-drivers kustomization
  kubernetes/apps/storage/rook-ceph/csi-drivers/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(rook): operator chart v1.20.1, move CSI config to ceph-csi-drivers
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Due: validate-schema-alignment

feat(rook): cluster chart v1.20.1 (Ceph -> Tentacle v20.2.1)
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Due: validate-schema-alignment

feat(rook): wire ceph-csi-drivers KS on atlantis-k8s01
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-csi-drivers.yaml
Due: validate-schema-alignment

feat(rook): cluster KS dependsOn csi-drivers on atlantis-k8s01
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

feat(rook): add csi-drivers to atlantis-k8s01 rook kustomization
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

chore(rook): suspend fairy rook-ceph KS to stage atlantis-first v1.20 upgrade
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph.yaml
Due: validate-schema-alignment

chore(rook): suspend fairy rook-ceph-cluster KS to stage atlantis-first v1.20 upgrade
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

feat(rook): upgrade to v1.20.1 + ceph-csi-drivers (Ceph→Tentacle), atlantis-staged (#1980)
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/csi-drivers/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/csi-drivers/kustomization.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/rook-ceph/rook-ceph-csi-drivers.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(rook): set GPU toleration per-driver (empty Driver list overrode default)
  kubernetes/apps/storage/rook-ceph/csi-drivers/helmrelease.yaml
Due: validate-schema-alignment

fix(rook): per-driver GPU toleration (correct indentation)
  kubernetes/apps/storage/rook-ceph/csi-drivers/helmrelease.yaml
Due: validate-schema-alignment

feat(rook): wire ceph-csi-drivers KS on fairy-k8s01
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-csi-drivers.yaml
Due: validate-schema-alignment

feat(rook): add csi-drivers to fairy-k8s01 kustomization
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(rook): unsuspend fairy rook-ceph (operator) KS
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph.yaml
Due: validate-schema-alignment

feat(rook): unsuspend fairy cluster KS + dependsOn csi-drivers
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T191926Z-f1ed49c
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

feat(rook): roll fairy to v1.20.1 + Ceph Tentacle (+ per-driver GPU toleration fix) (#1982)
  kubernetes/apps/storage/rook-ceph/csi-drivers/helmrelease.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-cluster.yaml
  kubernetes/clusters/fairy-k8s01/apps/rook-ceph/rook-ceph-csi-drivers.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(fairy/cilium): commit bpf.vlanBypass[300] to gitops
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

fix(fairy/cilium): commit bpf.vlanBypass[300] to gitops (#1983)
  kubernetes/clusters/fairy-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T200527Z-ffb4c24
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

chore(iua): hedgehog → main-20260623T213125Z-a4bafc6
  kubernetes/apps/hedgehog/platform/ocirepository.yaml
Due: validate-schema-alignment

feat(inference): route Janet to local Qwen3.6-35B-A3B via AI gateway
  kubernetes/apps/inference/ai-gateway/gateway.yaml
  kubernetes/apps/inference/litellm/cnp.yaml
  kubernetes/apps/inference/litellm/dragonfly.yaml
  kubernetes/apps/inference/litellm/externalsecret.yaml
  kubernetes/apps/inference/litellm/helmrelease.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/cnp.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/deployment.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/kustomization.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/service.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/vmservicescrape.yaml
  kubernetes/apps/inference/vllm-gpt-oss/cnp.yaml
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes/route.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/qwen36-35b-a3b.yaml
Due: validate-kustomizations, validate-schema-alignment

docs(inference): fix stale BackendTrafficPolicy refs in comments
  kubernetes/apps/inference/qwen36-35b-a3b/service.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes.yaml
Due: validate-schema-alignment

feat(inference): route Janet to local Qwen3.6-35B-A3B via AI gateway (#1987)
  kubernetes/apps/inference/ai-gateway/gateway.yaml
  kubernetes/apps/inference/litellm/cnp.yaml
  kubernetes/apps/inference/litellm/dragonfly.yaml
  kubernetes/apps/inference/litellm/externalsecret.yaml
  kubernetes/apps/inference/litellm/helmrelease.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/cnp.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/deployment.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/kustomization.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/service.yaml
  kubernetes/apps/inference/qwen36-35b-a3b/vmservicescrape.yaml
  kubernetes/apps/inference/vllm-gpt-oss/cnp.yaml
  kubernetes/apps/janet/brain/deployment.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes/route.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/qwen36-35b-a3b.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(inference): decouple qwen + ai-routes KS dependencies
  kubernetes/clusters/fairy-k8s01/apps/inference/ai-routes.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/qwen36-35b-a3b.yaml
Due: validate-schema-alignment
