Repository nicolerenee/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-kustomizations, validate-schema-alignment

.pre-commit-config.yaml:

# Pre-commit hooks for maintaining code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # YAML formatting and validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
              comments:
                min-spaces-from-content: 1
              comments-indentation: disable
              truthy:
                allowed-values: ['true', 'false', 'on', 'off']

  # Kubernetes YAML validation
  - repo: local
    hooks:
      - id: validate-kustomizations
        name: Validate Kustomization files
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: 'kubernetes/.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: validate-schema-alignment
        name: Validate schema/apiVersion alignment
        entry: python3 scripts/validate-schema-alignment.py
        language: system
        files: 'kubernetes/.*\.ya?ml$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            \.secrets\.baseline|
            kubernetes/.*/externalsecret\.yaml|
            .*\.sops\.yaml
          )$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            CHANGELOG\.md
          )$

  # JSON formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: |
          (?x)^(
            \.vscode/.*\.json
          )$

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor(fairy): switch to bond0 with VLAN, remove bridge infrastructure
  kubernetes/apps/devices/rdma-shared-device-plugin/daemonset.yaml
  kubernetes/apps/networking/bridge-vlan-config/daemonset.yaml
  kubernetes/apps/networking/bridge-vlan-config/kustomization.yaml
  kubernetes/apps/networking/multus-trusted/nad.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/esphome.yaml
  kubernetes/clusters/fairy-k8s01/apps/home-automation/scrypted.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/bridge-vlan-config.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-sysctls.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/bridge-vlan-filtering.yaml
  kubernetes/clusters/fairy-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(networking): use subPath mounts for netdisco persistent data
  kubernetes/apps/networking/netdisco/deployment.yaml
Due: validate-schema-alignment

fix(networking): use gcr mirror for netdisco images
  kubernetes/apps/networking/netdisco/deployment.yaml
Due: validate-schema-alignment

fix(networking): don't wait on netdisco-apps parent Kustomization
  kubernetes/clusters/fairy-k8s01/flux/netdisco.yaml
Due: validate-schema-alignment

fix(devices): load RDMA kernel modules, remove fabric NAD IPAM
  kubernetes/apps/inference/gpu-fabric-nad/nad.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/nvidia-runtime.yaml
Due: validate-schema-alignment

fix(inference): escape LWS_LEADER_ADDRESS from Flux postBuild substitution
  kubernetes/apps/inference/vllm-gpt-oss-2node/leaderworkerset.yaml
Due: validate-schema-alignment

fix(inference): make vllm-gpt-oss-2node service headless for LWS pod DNS
  kubernetes/apps/inference/vllm-gpt-oss-2node/service.yaml
Due: validate-schema-alignment

fix(inference): publish not-ready addresses for LWS head pod DNS
  kubernetes/apps/inference/vllm-gpt-oss-2node/service.yaml
Due: validate-schema-alignment

fix(inference): fix Ray GPU worker count check in LWS head startup
  kubernetes/apps/inference/vllm-gpt-oss-2node/leaderworkerset.yaml
Due: validate-schema-alignment

fix(devices): enable DCGM exporter ServiceMonitor for GPU metrics scraping
  kubernetes/apps/devices/nvidia-gpu-operator/helmrelease.yaml
Due: validate-schema-alignment

feat(infra/talos): upgrade talos ( v1.13.0-rc.0→ v1.13.0 ) on fairy-k8s01
  kubernetes/clusters/fairy-k8s01/apps/system-upgrade/tuppr-plans.yaml
Due: validate-schema-alignment

feat(inference): migrate vllm-gpt-oss-2node to native distributed + add base variant
  kubernetes/apps/inference/vllm-gpt-oss-2node-base/kustomization.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node-base/leaderworkerset.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node-base/service.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node-base/vmservicescrape.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/ingress.yaml
  kubernetes/apps/inference/vllm-gpt-oss-2node/vmservicescrape.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(ci): add missing migrated-to-ks file
  kubernetes/clusters/fairy-k8s01/apps/netdisco/.migrated-to-ks
Due: none

feat(inference): update single-node vllm-gpt-oss and remove from fairy
  kubernetes/apps/inference/vllm-gpt-oss/deployment.yaml
  kubernetes/apps/inference/vllm-gpt-oss/kustomization.yaml
  kubernetes/apps/inference/vllm-gpt-oss/vmservicescrape.yaml
  kubernetes/clusters/fairy-k8s01/apps/inference/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

fix(system-upgrade): enable CRD updates on tuppr helm upgrades
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

feat(system-upgrade): set hard placement policy for talos upgrades
  kubernetes/apps/system-upgrade/plans/talos.yaml
Due: validate-schema-alignment

fix: remove rawResources from helmreleases for app-template v5 compat
  kubernetes/apps/home-automation/scrypted/helmrelease.yaml
  kubernetes/apps/media/emby/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
Due: validate-schema-alignment

fix(intel-gpu): disable xpumd health monitoring
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

fix(intel-gpu): nest healthMonitoring under kubeletPlugin
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

feat(intel-gpu): enable privileged mode for device capability discovery
  kubernetes/apps/devices/intel-gpu-resource-driver/helmrelease.yaml
Due: validate-schema-alignment

feat(devices): deploy intel-gpu-exporter for iGPU metrics
  kubernetes/apps/devices/intel-gpu-exporter/daemonset.yaml
  kubernetes/apps/devices/intel-gpu-exporter/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/intel-gpu-exporter.yaml
  kubernetes/clusters/atlantis-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/intel-gpu-exporter.yaml
  kubernetes/clusters/fairy-k8s01/apps/kube-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(intel-gpu): add PodMonitor for metrics scraping
  kubernetes/apps/devices/intel-gpu-exporter/kustomization.yaml
  kubernetes/apps/devices/intel-gpu-exporter/podmonitor.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(dashboards): organize Grafana dashboards with per-cluster selection
  kubernetes/clusters/atlantis-k8s01/apps/observability/grafana-dashboards.yaml
  kubernetes/clusters/atlantis-k8s01/apps/observability/kustomization.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/grafana-dashboards.yaml
  kubernetes/clusters/fairy-k8s01/apps/observability/kustomization.yaml
  kubernetes/dashboards/atlantis-k8s01/kustomization.yaml
  kubernetes/dashboards/fairy-k8s01/kustomization.yaml
  kubernetes/dashboards/gpu/dgx-spark.yaml
  kubernetes/dashboards/gpu/intel-gpu-load.yaml
  kubernetes/dashboards/inference/vllm-overview.yaml
  kubernetes/dashboards/storage/ceph-cluster.yaml
  kubernetes/dashboards/storage/ceph-osd-single.yaml
  kubernetes/dashboards/storage/ceph-pools.yaml
Due: validate-kustomizations, validate-schema-alignment

feat(system-upgrade): enable tuppr Grafana dashboard via operator
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

fix(system-upgrade): move dashboard values under monitoring
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

fix: resolve merge conflict in vm k8s-stack values
  kubernetes/apps/observability/victoria-metrics/k8s-stack/helm/values.yaml
Due: validate-schema-alignment

fix(system-upgrade): work around tuppr chart dashboard template bug
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

fix(system-upgrade): bump tuppr to 0.1.16 and remove dashboard workaround
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

fix: remove deprecated recyclarr config options for v8
  kubernetes/apps/media/recyclarr/config/recyclarr.yml
  kubernetes/clusters/atlantis-k8s01/apps/media/recyclarr/config/recyclarr.yml
Due: validate-schema-alignment

feat(recyclarr): allow 1080p fallback in radarr remux+web 2160p profile
  kubernetes/apps/media/recyclarr/config/recyclarr.yml
  kubernetes/clusters/atlantis-k8s01/apps/media/recyclarr/config/recyclarr.yml
Due: validate-schema-alignment

fix(system-upgrade): update tuppr dashboard values for 0.1.18 schema
  kubernetes/apps/system-upgrade/app/helmrelease.yaml
Due: validate-schema-alignment

fix(downloaders): remove VXLAN overlay from qbittorrent pods
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-ink/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment

refactor(talos): clean up atlantis talconfig and remove unused patches
  kubernetes/clusters/atlantis-k8s01/talos/patches/dra-feature-gates.yaml
  kubernetes/clusters/atlantis-k8s01/talos/patches/watchdog.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
  kubernetes/clusters/fairy-k8s01/talos/patches/nvidia-runtime.yaml
Due: validate-schema-alignment

fix(talos): hardcode bond interfaces in atlantis talconfig
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
Due: validate-schema-alignment

fix(downloaders): restore VXLAN overlay for qbt torrent traffic
  kubernetes/clusters/atlantis-k8s01/apps/downloaders/qbt-reel/kustomization.yaml
  kubernetes/clusters/atlantis-k8s01/talos/patches/vxlan-vpn.yaml
  kubernetes/clusters/atlantis-k8s01/talos/talconfig.yaml
Due: validate-kustomizations, validate-schema-alignment

feat: add tortuga-k8s01 cluster scaffolding
  bootstrap/tortuga-k8s01.yaml
  kubernetes/clusters/tortuga-k8s01/apps/download-tools/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/download-tools/mousehole.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/external-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/onepassword-connect.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kubelet-csr-approver.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/metrics-server.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reflector.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/reloader.yaml
  kubernetes/clusters/tortuga-k8s01/apps/networking/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/system-upgrade/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/system-upgrade/tuppr-plans.yaml
  kubernetes/clusters/tortuga-k8s01/apps/system-upgrade/tuppr.yaml
  kubernetes/clusters/tortuga-k8s01/flux/download-tools.yaml
  kubernetes/clusters/tortuga-k8s01/flux/external-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/flux/kube-system.yaml
  kubernetes/clusters/tortuga-k8s01/flux/networking.yaml
  kubernetes/clusters/tortuga-k8s01/flux/system-upgrade.yaml
  kubernetes/clusters/tortuga-k8s01/talos/patches/watchdog.yaml
  kubernetes/clusters/tortuga-k8s01/talos/talconfig.yaml
  scripts/talos-vps-install.sh
Due: validate-kustomizations, validate-schema-alignment

fix(tortuga): disable gateway API and set tuppr to 1 replica
  bootstrap/tortuga-k8s01.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
  kubernetes/clusters/tortuga-k8s01/apps/system-upgrade/tuppr.yaml
Due: validate-schema-alignment

fix(tortuga): set wait: false on all namespace kustomizations
  kubernetes/clusters/tortuga-k8s01/flux/download-tools.yaml
  kubernetes/clusters/tortuga-k8s01/flux/external-secrets.yaml
  kubernetes/clusters/tortuga-k8s01/flux/kube-system.yaml
  kubernetes/clusters/tortuga-k8s01/flux/networking.yaml
  kubernetes/clusters/tortuga-k8s01/flux/system-upgrade.yaml
Due: validate-schema-alignment

fix(tortuga): exclude hubble HTTPRoute from cilium (no Gateway API)
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/cilium.yaml
Due: validate-schema-alignment

feat(tortuga): add op-cluster-vault secret store and generic-device-plugin
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/onepassword-connect.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/stores/clustersecretstore.yaml
  kubernetes/clusters/tortuga-k8s01/apps/external-secrets/stores/kustomization.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/generic-device-plugin.yaml
  kubernetes/clusters/tortuga-k8s01/apps/kube-system/kustomization.yaml
Due: validate-kustomizations, validate-schema-alignment
